[2020-05-08 16:20] schmidt-sebastian commented on #1447
If you want to follow the spirit of the transaction API:
- Handle `null` as "no balance exists" and create a new balance. The server will then reject the new balance if the the balance already existed and invoke your transaction loop again.

If you just want to unblock your usage:
- Return a random value if you know that data exist on the server but your transaction loop receives `null` as its inp

[2020-05-08 17:23] 4ntoine commented on #1199
@marius-bardan
yup, with your versions the paths are correct. In my case the libs in `./app/build/intermediates/merged_native_libs/` were also stripped and it took some time to understand that it was "Release" build mode for 3rd-party lib (aar) and it contains already stripped libs.

[2020-05-08 19:59] philn5d-ar commented on #361
I have a related issue:

`android.database.sqlite.SQLiteConstraintException: UNIQUE constraint failed: pending_ops.tag, pending_ops.target_class, pending_ops.target_package, pending_ops.user_id (code 2067 SQLITE_CONSTRAINT_UNIQUE)`

which, after searching led me here because of "pending_ops" schema hit on this search result.

relevant stack line: `at sob.run(:com.google.android.gms@201516037@20.15

[2020-05-08 21:19] schmidt-sebastian commented on #361
The Firebase Database SDK doesn't access SQLite through GMSCore. I believe the stacktrace above is for an unrelated issue. Unfortunately, the trace is obfuscated so it is hard to trace this back to the original product.

[2020-05-09 01:58] #1535 closed

[2020-05-09 08:04] Pactera-wanpingzhang commented on #158
Android emulator, thats helpful. Thanks!

[2020-05-09 15:27] THEAccess commented on #1524
The exception I posted occurs both in RemoteConfig 19.1.3 & 19.1.4. Initially, I encountered a `IlegalStateException` but it changed after I cleared caches.

[2020-05-11 08:48] grebulon opened #1540 "Crash after calling task.getResult().getToken() - IllegalArgumentException: method POST must have a request body."
### [READ] Step 1: Are you in the right place?
yes

### [REQUIRED] Step 2: Describe your environment

  * Android Studio version: 3.6.1
  * Firebase Component: firebase-messaging
  * Component version: 20.1.7

### [REQUIRED] Step 3: Describe the problem

Sometimes, after calling `task.getResult().getToken()` my app crashes with the following stack.
This happens occasionally, usually once a week. A

[2020-05-11 11:14] vinitamurthi opened #1541 "Crashlytics fatal crash storage limit"
Hi firebase team,

We are working on integrating crashlytics into our [Android application](https://github.com/oppia/oppia-android)
Our application needs support for long-term offline storage since our users may not be connected to the internet for weeks or months together.
We noticed that while crashlytics stores 8 custom events, fatal crashes in crashlytics do not have any storage limits (none t

[2020-05-11 12:49] triplef commented on #1396
I just tried this with the updated Gradle plugin but unfortunately essentially the same result (see below). I’m using the following plugin versions:

* com.google.firebase:firebase-crashlytics-gradle:2.1.0 (in buildscript > dependencies)
* com.google.firebase:firebase-analytics:17.4.1 (in dependencies)
* com.google.firebase:firebase-crashlytics-ndk:17.0.0 (in dependencies)

Please let me know if I

[2020-05-11 14:01] Viraj7009 commented on #1092
@JasonAHeron awesome. Looking forward to it. Thanks

[2020-05-11 14:08] philn5d-ar commented on #361
Thanks @schmidt-sebastian! Any pointers on how to track it down to the root? I'm only working with a contract dev to get some Android app work done, not well-versed in the inner workings of Android code. Much appreciated!

[2020-05-11 14:12] pedromancheno commented on #959
I am having the same issue in iOS. Any updates?

[2020-05-11 14:25] mrwillis21 commented on #1396
Thanks for letting me know, @triplef. That's definitely unexpected. I suspect a separate issue from the one posted by @vokilam, unfortunately. I'm going to take a look and see if I can determine what the cause is based on your stack trace, but would you mind reaching out to the Firebase support team -- https://firebase.google.com/support/troubleshooter/contact -- so we can better coordinate on get

[2020-05-11 14:33] mrwillis21 commented on #1396
I can confirm the issue revealed by @vokilam's test project is fixed, but if anyone else is still having issues, please let me know.

[2020-05-11 14:35] triplef commented on #1396
Thanks @mrwillis21. I guess this means that my original issue #1357 is not a full duplicate of this after all.

I already reached out to the support team (case 00044423).

[2020-05-11 15:44] mrwillis21 commented on #1481
Closing this, as we haven't heard back. Please feel free to re-open if this is still a concern.

[2020-05-11 15:44] #1481 closed

[2020-05-11 15:56] vkryachko commented on #1408
It's hard to tell what's wrong as the exception is missing the message that describes the problem.
Could you provide the message as thrown from? https://github.com/firebase/firebase-android-sdk/blob/ab66fe53f60848584b5c42181363e68f732d492b/firebase-components/src/main/java/com/google/firebase/components/ComponentRuntime.java#L169-L172

[2020-05-11 15:58] ashwinraghav commented on #1531
@b95505017 I've not been able to repro the issue unfortunately. Just so I understand, your repro steps are
1) Install version of test app with `implementation 'com.google.firebase:firebase-crashlytics:17.0.0'`.
2) Remove  `implementation 'com.google.firebase:firebase-crashlytics:17.0.0'` from the test app.
3) Install test app
4) Re introduce `implementation 'com.google.firebase:firebase-crashlytic

[2020-05-11 16:06] b95505017 commented on #1531
@ashwinraghav Sorry you tag the wrong person 😂

[2020-05-11 16:45] AndrewBloom opened #1545 "Crashlytics with service on a different process"
## What feature would you like to see?
I'd like to be able to use crashlytics on a service run on a different process than the app.
I'd like to compile the service as aar library and add that on my app project.

Describe the feature you would like to add, ideally proposing a specific API.

## How would you use it?
I would compile my service run on a different process and build an aar file. This wi

[2020-05-11 16:55] andirayo commented on #1540
@grebulon :
Thank you for reporting this!

It seems like the Firebase Installations's weekly `#GenerateAuthToken` call is triggering this issue.
We will look into this!

**Question**: What percentage of end-users is affected or are all affected?

FYI:
* As a temporary fix for this you can downgrade `firebase-messaging` to `v20.1.0` **or before**.
* `FirebaseInstallationServiceClient.writeGenerateA

[2020-05-11 17:35] ditn commented on #1512
The docs do say that to clear an ID, [just pass an empty String](https://firebase.google.com/docs/crashlytics/customize-crash-reports?platform=android#set-user-ids).

[2020-05-11 18:42] mrwillis21 commented on #1396
Great, thanks @triplef. I'll continue tracking this issue here, and I'll follow up with our support team on your case to see if we can disambiguate the issues.

[2020-05-11 19:47] quibi-jlk commented on #1528
Hi folks, sorry for the delay, I've been pulled away to some other high-priority work. Here are answers to these questions:

Q1 (deps) - Here are our firebase-relevant deps:
[code]

Q2) Unfortunately we have no local repro, so we only have what crashlytics gives us here, which is this stack trace.

Q3) We don't see any correlation by device type, sdk version, etc. However, we do see that 97% of th

[2020-05-11 20:43] ashwinraghav commented on #1531
Sry bout that
 cc @b99202021

[2020-05-11 20:44] ankitaj224 commented on #1528
@quibi-jlk can you please paste the stack trace of all threads as seen in crashlytics?

[2020-05-11 20:55] heshaShawky commented on #916
I'm using flutter and this issue still, Facebook opens the play store instead of the app and it's installed and working on WhatsApp fine, but most of the app marketing depends on Facebook so this is a huge deal.

I'm talking about the Android version.

[2020-05-11 21:08] quibi-jlk commented on #1528
Attaching file with all 40 threads @ankitaj224
[allthreadsfirebase.log](https://github.com/firebase/firebase-android-sdk/files/4612112/allthreadsfirebase.log)

[2020-05-11 21:23] ankitaj224 commented on #1454
@Gnzlt can you please attach the stack trace of all threads as seen in crashlytics reports?

[2020-05-11 22:31] ashwinraghav commented on #1531
cc @b99202021  I've tried to simulate some of the failures you describe in PR https://github.com/firebase/firebase-android-sdk/pull/1548. While it did reveal some other backward incompatibilities, I'm yet to put a finger on what could cause this. Can you share the exact versions of firebase crash you were using before the downgrade, and after the upgrade?

[2020-05-11 23:13] coolcool1994 opened #1551 "Android forced to listen to all events in ChildEventListener"
In iOS Firebase, you can listen to onChildAdded, onChildChanged, onChildRemoved, and onChildMoved separately in order to minimize the cost of data download ($1 per 1GB). For example, I can only listen to onChildAdded and onChildDeleted  for a parent node and listen to onChildChanged for one of the subnodes - and this is working very efficiently to reduce the data downloaded from Firebase.

However

[2020-05-11 23:54] ankitaj224 commented on #1540
@grebulon Thanks for all the details on reproducing this issue.

Have you enabled [HttpResponseCaching](https://developer.android.com/reference/android/net/http/HttpResponseCache) in your app?

[2020-05-12 01:03] #1504 closed

[2020-05-12 03:17] b99202021 commented on #1531
@ashwinraghav I was using (1) firebase:firebase-crashlytics-gradle:2.0.0-beta02    (2) .firebase:firebase-analytics:17.2.3 (3) firebase-crashlytics:17.0.0-beta0 before downgrade        But only some of my user are facing the crash. And I cannot reproduce the crash everytime.

[2020-05-12 07:41] Gnzlt commented on #1454
Hope it helps!
[FirebaseInstanceId.log](https://github.com/firebase/firebase-android-sdk/files/4614062/FirebaseInstanceId.log)

[2020-05-12 08:05] grebulon commented on #1540
@andirayo, this effects many users. I've had around to 500 of reports on this from my automated crash reporting code in the past 3 weeks. That's only from people who chose to report. I think that in the end it will affect ALL users.
I saw the reports on the retrofit issue, but it doesn't seem related to this issue.
I will downgrade to 20.1.0 and see if that helps.

@ankitaj224 HttpResponseCache is

[2020-05-12 13:52] vkryachko commented on #1528
@ankitaj224 it's interesting that non of the threads are blocked on the FileLock, in fact the thread pool is just empty waiting for tasks. Could it be the case that the getId() task completion source just does not get completed for some reason?

Another strange fact is that there appear to be 2 threads in the `firebase-installations-executor` even though it's configured to be single-threaded afaic

[2020-05-12 18:10] mrwillis21 commented on #1396
Hi @triplef - thanks so much for following up. I was able to reproduce the issue you're seeing, and it is a completely different issue. I'll take this conversation back to #1357 and reopen it, given that. Thanks so much for your help with this so far!

[2020-05-12 18:12] mrwillis21 commented on #1357
Turns out this is a separate issue from #1396, which has been fixed in Crashlytics Gradle Plugin 2.1.0. Re-opening this to track it separately.

[2020-05-12 18:14] mrwillis21 commented on #1396
Hi @vokilam and @personshelldon! I'm going to close this issue given the release of Crashlytics Gradle plugin 2.1.0, but feel free to reopen if you continue to have problems.

[2020-05-12 18:14] #1396 closed

[2020-05-12 23:15] ankitaj224 commented on #1454
@Gnzlt Thanks for the logs.

[2020-05-12 23:37] #1092 closed

[2020-05-12 23:37] #1410 closed

[2020-05-12 23:42] JasonAHeron commented on #1092
This will be fixed in our next release 19.0.7

[2020-05-12 23:43] JasonAHeron commented on #1410
This will be fixed in our next release 19.0.7

[2020-05-13 02:06] ankitaj224 commented on #1540
@grebulon Are you able to reproduce this issue consistently ? And if there is a demo app, can you please share the link which I can use to test.

[2020-05-13 02:42] grapevine23 commented on #1476
Thank you @zijianjoy for the response.

### Steps
For example run `core` with assembleRelease.
`$ ./gradlew library-core:assembleRelease`

I could get a list of folders under `/library/core/buildout/intermediates/` that includes `packaged-classes`

[code]

### The next step answer

- Windows 10 pro

- Android Gradle Plug Version: 3.4.1
- Gradle Version 5.4.1

- I tried to include `-dontusemixedcas

[2020-05-13 02:48] rishun-fsi commented on #1476
Thank you @zijianjoy for the response.

### Steps
For example run `core` with assembleRelease.
`$ ./gradlew library-core:assembleRelease`

I could get a list of folders under `/library/core/buildout/intermediates/` that includes `packaged-classes`

[code]

### The next step answer

- Windows 10 pro

- Android Gradle Plug Version: 3.4.1
- Gradle Version 5.4.1

- I tried to include `-dontusemixedcas

[2020-05-13 03:42] b99202021 commented on #1531
I got

`android.database.sqlite.SQLiteException:` table event_payloads already exists (code 1): , while compiling: CREATE TABLE event_payloads (sequence_num INTEGER NOT NULL, event_id INTEGER NOT NULL, bytes BLOB NOT NULL,FOREIGN KEY (event_id) REFERENCES events(_id) ON DELETE CASCADE,PRIMARY KEY (sequence_num, event_id))`

when I downgrade and upgrade again.

[2020-05-13 05:06] schmidt-sebastian commented on #361
I haven't do deal with obfuscated stacktraces since we moved to GitHub. Unfortunately, that means that I can't provide assistance here.

Maybe @samtstern has some pointers on how to de-obfuscate GMSCore stacktraces.

[2020-05-13 08:35] hardysim commented on #1275
It started crashing again after updating to DP 4 `RPP4.200409.015` with Play Services `20.12.14 (140408-302211955)`. A reboot does not help.

[2020-05-13 11:21] UserSty commented on #473
@chliangGoogle it didn't help then.

@google-oss-bot I don't know what is the situation with the latest version of SDK but at the time I used the hack and did the `FirebaseMessaging.getInstance().setAutoInitEnabled(false);` because via the manifest it didn't work.

[2020-05-13 11:55] gosr opened #1556 "transformClassesWithFirebasePerformancePlugin gradle task results in ArrayIndexOutOfBoundsException"
* Android Studio version: 3.6.3

[code]

#### Steps to reproduce:

Run the gradle task 'transformClassesWithFirebasePerformancePluginForYourBuildFlavor'.

Output:

[code]

[2020-05-13 12:16] eygraber commented on #665
I'm not using Realm or objectbox. This just started happening out of the blue (i.e. no code changes). The dependency tree is huge (over 100 modules).

Simply reordering the classpath dependencies (moving the agp plugin from 3rd to 2nd) fixed the issue. Possibly related to https://issuetracker.google.com/issues/153249519 which I now realize started happening shortly after adding the performance plu

[2020-05-13 12:51] sag-007 commented on #405
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.example.final_project, PID: 7321
    java.lang.RuntimeException: Unable to start activity ComponentInfo{com.example.final_project/com.example.final_project.SignUp}: java.util.concurrent.RejectedExecutionException: Task java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask@b347041 rejected from com.google.firebase.database.core

[2020-05-13 13:05] grebulon commented on #1540
@ankitaj224 Not consistently. But I have enough users to push an update and wait for the next cache invalidation (which usually happens on weekends) and see if this helps.
Do you think that it's enough to just disable the httpURLConnection cache?

[2020-05-13 14:02] angelolloqui commented on #361
I am having the same error, and it does not allow me to start the app.

[code]

If I remove the Crashlytics depedency, then it stops crashing and everything seems to work as normal, but of course I will not get crash reporting.

My dependencies:

[code]

[2020-05-13 14:30] samtstern commented on #361
Ok there's some crash going on that looks similar to some old GitHub issues I've found:
https://github.com/googlearchive/firebase-jobdispatcher-android/issues/94
https://github.com/evernote/android-job/issues/87

Some internal bugs which may be related (for Googlers);
https://b.corp.google.com/issues/156170585
https://b.corp.google.com/issues/149327697
https://b.corp.google.com/issues/146422649

I

[2020-05-13 14:33] samtstern commented on #361
Looks like Crashlytics uses DataTransport:
firebase-crashlytics/src/main/java/com/google/firebase/crashlytics/internal/send/DataTransportCrashlyticsReportSender.java

And DataTransport uses JobScheduler:
https://cs.opensource.google/search?q=JobScheduler&ss=firebase-sdk

[2020-05-13 15:13] wilhuff commented on #405
@sag-007 though the exception name is in common with the one in this issue, you’re using the Realtime Database, not Firestore.

Please open a new issue with all the details in the template.

[2020-05-13 16:17] cs-googler commented on #1275
Thanks for reporting!

Note that DP4 (RPP4.200409.015) is currently “for developers only​ and not intended for daily or consumer use.” The problem might be caused by the OS.

We will test internally and post update here.

Thanks again!

[2020-05-13 16:24] cs-googler commented on #1527
Hi, we have added this logic internally for future releases to make sure buffer position is reset to 0.

For now, can you call rewind() for each media.Image.getPlanes[i].getBuffer() to see if the issue can be solved?

[2020-05-13 17:17] zijianjoy commented on #1476
Glad that the issue is resolved now, thank you @mkj-gram for committing the fix and @rishun-fsi for confirming!

For future reference, Firebase Performance Monitoring gradle plugin cannot instrument classes with only case difference in class name (for example, `className.class` vs `classname.class`), they will cause one class overwriting another, and it happens on case-insensitive machine.

The cu

[2020-05-13 17:17] #1476 closed

[2020-05-13 17:28] Eduard-Dumitrescu commented on #1437
A possible solution that I've found is putting this in the main application class

[code]

I've only tested it for a bit but while running tests it would always return true for isEmpty() and on normal utilization it would return false.

[2020-05-13 17:49] coolcool1994 commented on #1551
Could someone just verify this limitation in Android? Maybe there is a way to bypass this problem in Android. I just want someone to verify that this limitation exists in Android. Thanks in advance.

[2020-05-13 17:54] BSunk commented on #1385
I have been working on adding apple sign in as well and am facing a similar issue and the same error message. There seems to be some permission issues with using the api key if it's restricted to just Android. When setting as no restrictions the apple sign in flow works as expected.

` com.google.firebase.auth.FirebaseAuthWebException: There was an internal error in the web widget. [ {"code":"auth

[2020-05-13 20:38] tianxu0836 commented on #665
I fixed it by updating objectbox to 2.5.x

On Wed, May 13, 2020 at 5:16 AM Eliezer Graber <notifications@github.com>
wrote:

[2020-05-13 21:36] schmidt-sebastian commented on #1551
@coolcool1994 You are correct in that our API differs between iOS and Android.

While this won't necessarily be good news to you, the implementation is similar though: The iOS client registers a listener for all events and post-filters in the SDK to only raise relevant events. Our network protocol is a synchronization protocol and the backend sends us snapshots of the subsections of your database

[2020-05-13 21:36] #1551 closed

[2020-05-14 01:04] moetouban opened #1559 "Firebase crashlytics not able to read crash reports"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs in __the code in this repository__.
If you have a general question, need help debugging, or fall into some
other category using one of these other channels:

  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase disc

[2020-05-14 05:40] coolcool1994 commented on #1551
Is it true when you subscribe to childListener both in iOS and Android, you are getting charged for data downloaded for all onChildAdded, onChildChanged, onChildRemoved, and onChildMoved together, even if you only use one of them?

I don't see why you would get a corrupt state by only listening for onChildAdded, onChildChanged, onChildRemoved, or onChildMoved. When you get a snapshot, you can just

[2020-05-14 06:06] schmidt-sebastian commented on #1551
The synchronization protocol between the SDK and the backend does not support sending only a subset of changes.  To support your request without corrupting local state, we would need to evolve the protocol. We will take your input into account if we decide to do so, but please bear in mind that this is very unlikely.

Thank you for understanding.

[2020-05-14 07:25] matpag commented on #1313
Same problem for me with DexGuard.
Thank you @TizioIncognito for the temporary workaround

[2020-05-14 09:04] originx opened #1560 "Firebase Crashlytics plugin 2.1.0 - gradle configuration issue"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs in __the code in this repository__.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discus

[2020-05-14 13:42] Onlinedispatcher commented on #1560
+1
Thanks @originx  for this detailed description. We have the same issue and this issue is really a need for us to continue with the new Firebase Crashlytics plugin (y) (y)

[2020-05-14 17:10] mrwillis21 commented on #1357
Hi @triplef - just wanted to circle back and let you know I've got a fix in the works for this, which I plan to get in for the next release. Thanks so much for the information you provided that helped us reproduce the issue!

[2020-05-14 17:37] cs-googler commented on #1275
Hi this might be an OS issue which we can repro in the an older version of android R preview but not in the latest internal dev build. Please check again when the new preview is available.

[2020-05-14 19:18] chliangGoogle commented on #473
@UserSty Can you also look into your code and make sure you don't call anything to trigger Messaging to generate token again? Methods like @gsakakihara suggested here:  #473 (comment)

Would be also helpful if you can share with us any messaging or instanceID or Installations API you called in the code.

[2020-05-14 22:04] ankitaj224 commented on #1540
@grebulon
Most likely. I am still reading about the Okhttp underlying caching in Android.  Disabling the httpURLConnection cache along with explicit Cache-control should help. I am trying to reproduce the issue and try this fix.

Do you use initialize Okhttp client with a cache in your app?

[2020-05-15 04:45] mihirmodiofficial commented on #1527
java.lang.IllegalArgumentException: Bad position 460800/460799
        at java.nio.Buffer.position(Buffer.java:259)
        at com.google.android.gms.internal.firebase_ml.zzsc.zza(com.google.firebase:firebase-ml-vision@@24.0.3:34)
        at com.google.firebase.ml.vision.common.FirebaseVisionImage.fromMediaImage(com.google.firebase:firebase-ml-vision@@24.0.3:20)
        at com.gifticon.ui.gift_sho

[2020-05-15 05:36] fangor16 commented on #1528
I'm also having this issue.

These are my dependencies regarding Firebase
[code]

Q2) This is all the stack trace I could get from Firebase Crashlytics : https://pastebin.com/UMkjvpZV

Q3) 92% crash happens while app is in background.
OS version -:
54% Android 10
31% Android 9
15% Android 8

[2020-05-15 05:42] triplef commented on #1357
That’s great. Thank you for the update on this!

[2020-05-15 08:55] grebulon commented on #1540
I don't do anything explicit with the connection cache, so it must be using the default state.
I downgraded as andirayo suggested to v20.0 in my beta group and haven't seen any crashes from there.
But there's something that may be troubling - I have a debug report call in my code that I trigger when FirebaseMessagingService#onNewToken() is called and I haven't seen this happen even once for any of

[2020-05-15 10:34] tomislavhofman opened #1562 "io.opencensus.trace + proguard causing a crash"
* Android Studio version: 3.6.1
  * Firebase Component: Firestore (Database, Firestore, Storage, Functions, etc)
  * Component version: 21.4.3

### [REQUIRED] Step 3: Describe the problem

`java.lang.RuntimeException: Internal error in Cloud Firestore (21.4.3)` happens

#### Steps to reproduce:

[code]
and attempt to read a collection.

Error goes away if I put `-keep class io.opencensus.trace.**

[2020-05-15 11:48] pnkshir commented on #1460
@danasilver It is  HTC Desire 628 dual sim, Android OS 5.1

[2020-05-15 17:35] darrentaft opened #1564 "Crashlytics plugin selects wrong applicationId - doesn't honour changes by setApplicationId()"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs in __the code in this repository__.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discus

[2020-05-15 22:07] TNorth22 commented on #1441
Any movement on this?

[2020-05-17 01:32] CompareAndSwap opened #1565 "Crashlytics fatal crash reports are not immediately sent on Android 9 and newer"
### [REQUIRED] Step 2: Describe your environment

  * Android Studio version: 3.6.3
  * Firebase Component: Crashlytics
  * Component version: 17.0.0 (issue also reproduces with older Crashlytics 2.10.1)

### [REQUIRED] Step 3: Describe the problem

When a fatal crash occurs, Crashlytics' [unhandled exception handler](https://github.com/firebase/firebase-android-sdk/blob/master/firebase-crashlytic

[2020-05-17 19:05] andirayo commented on #1540
FCM registration tokens are constant for the lifetime of installations of your application, unless FCM has a reason to update the tokens.
Thus, not getting reports about tokens changing is nothing to worry about.

**Question**: Did this behavior change for you?

[2020-05-17 19:15] SaifurRahmanMohsin opened #1569 "Phone verification stopped working and keeps failing"
* Android device: Samsung Galaxy S2 (SM-T815Y)
  * Android OS version: 7.0
  * Google Play Services version: 17.0.0
  * Firebase/Play Services SDK version: 21.4.3

I followed the documentation and successfully implemented phone verification (without AuthUI) and it worked great. However, I was playing around with the FirebaseAuth class, specifically the claims `getClaims().get("admin")` code and th

[2020-05-18 06:00] grebulon commented on #1540
That's OK as I'm not seeing tokens being replaced, and I'm not getting any more of the crashes after downgrading.
Drop me a note after releasing the caching change, and I'll test it on my beta group.

[2020-05-18 13:23] androideveloper opened #1566 "Failed to retrieve settings when upgrading from Fabric to Firebase"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs in __the code in this repository__.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discus

[2020-05-18 14:14] mrwillis21 commented on #1565
Thanks for the report @CompareAndSwap! We're aware of this issue and are in the process of working on a fix. Should have it out soon. :)

[2020-05-18 14:22] matteinn opened #1567 "SQLiteException on event_payloads table"
### [REQUIRED] Step 2: Describe your environment

  * Android Studio version: 3.6.3
  * Firebase Component: Core
  * Component version: 17.3.0

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

Connecting bluetooth headphones makes the app crash (based on some users feedback, I'm pretty sure it's just related to the app opening though).

#### Relevant Code:

None, attaching th

[2020-05-18 17:05] froriz5 opened #1568 "Runtime SQLite Table crash after upgrading Core and Messaging Versions"
### [REQUIRED] Step 2: Describe your environment

  * Android Studio version: 3.6.3
  * Firebase Component: Core & Messaging
  * Component version: Core 17.4.1 & Messaging 20.1.7

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:
We recently updated our `Firebase Messaging` version from `19.0.1` to `20.1.7`  and `Firebase Core` from `17.0.0` to `17.4.1` .

After doing so, when

[2020-05-18 17:35] ashwinraghav commented on #1568
Thanks for the report.
I've not been able to repro the issue you are describing. I suspect there are other Firebase products you are using? If you can share your dependencies tree `./gradlew :app:dependencies`, before and after the migration steps, that might help us track this down better.

[2020-05-18 17:40] ashwinraghav commented on #1568
We seem to have a bug in the https://github.com/firebase/firebase-android-sdk/blob/4498fccb497a897f2832599c8db42cb34abc5ce9/transport/transport-runtime/src/main/java/com/google/android/datatransport/runtime/scheduling/persistence/SchemaManager.java#L76 where going back and forth between version 4 of the database and any other older versions would lead to this error. I've been able to simulate the

[2020-05-18 17:46] froriz5 commented on #1568
Yeah, I think it's likely I did do a `upgraded -> downgraded -> upgraded`, when I was doing some verification.

We can likely mark this as a duplicate issue and close it then?

[2020-05-18 17:47] ashwinraghav commented on #1568
If you have seen this issue only during development, and have not shipped versions of your app that go back and forth between versions, it should be safe to roll forward with your app pointing to the latest versions.
If your users are actually seeing these crashes as a result of releases of your app having such version fluidity of firebase dependencies, Have your users delete their local state (ca

[2020-05-18 17:47] ashwinraghav commented on #1568
SG. Thank you

[2020-05-18 17:49] ashwinraghav commented on #1567
THanks for the report.
We have a few other issues that report this problem as well.
I've captured some possible mitigations in #1568
WIP to prevent these situations going forward #1548

[2020-05-18 18:01] JasonAHeron commented on #1068
Hey, this is now fixed past 19.0.5!

[2020-05-18 18:01] #1068 closed

[2020-05-18 18:02] JasonAHeron commented on #1203
This should now be fixed with the latest version of our SDK!

[2020-05-18 18:02] #1203 closed

[2020-05-18 18:04] JasonAHeron commented on #164
Hey folks, this is now fixed in the latest version of our SDK

[2020-05-18 18:04] #164 closed

[2020-05-18 18:11] ashwinraghav commented on #1560
Thank you for the detailed explanation and the suggested workarounds. Firebase plugins in general are susceptible to the scenario you describe of having a mix and match of package names and (Firebase Projects/Apps). Note that Firebase APIs *do* support this situation a lot better.

## Temporary workaround
We're happy to consider the work around you are suggesting. In the mean time, here's a way fo

[2020-05-18 18:14] samtstern commented on #1569
@SaifurRahmanMohsin I have transferred this issue over to the Firebase Android SDK

[2020-05-18 18:17] JasonAHeron commented on #1269
Hey folks, this seems like something that shouldn't be too hard to fix. I'll look into it in the coming weeks and see if we can get something out for the next SDK release.

[2020-05-18 19:00] ashwinraghav commented on #1541
Thank you for the question. While we don't have a publicly documented limit, there are some limits we do enforce. Currently, that's at 10MB. Beyond this limit, incoming crashes get dropped. So it's sort of a [FIFO](https://en.wikipedia.org/wiki/FIFO_(computing_and_electronics)) mechanism

Note that most other Firebase products gracefully degrade offline as well.

https://github.com/firebase/fireba

[2020-05-18 19:00] #1541 closed

[2020-05-18 19:09] mrwillis21 commented on #1565
I also want to clarify as part of this, that there are situations where we *cannot* send at crash time, and therefore Crashlytics will always make a *best effort* to send immediately, but it's not 100% guaranteed.

[2020-05-18 19:47] smuldr commented on #1568
This looks very similar to #1531

[2020-05-18 21:55] SaifurRahmanMohsin commented on #1569
This issue was fixed for me after 24-hours i.e. my device seems to be working fine now. You may close the issue if you’d like. Although, it would also be better if the Firebase Android SDK team would check and take a look at it so that future users don’t have to deal with this.

[2020-05-18 22:01] thebrianchen commented on #1562
@tomislavhofman I was unable to reproduce this on 21.4.3 using the friendly-eats app and the build rules you posted, which reads from collections. Could you provide a simple repro app that results in the behavior?

Looking at the stack trace, it appears that our grpc-java dependency is the root cause of this error. I'll look into adding the proguard rule temporarily into our SDK until grpc fixes t

[2020-05-18 23:11] ashwinraghav commented on #1569
Thanks for the report @SaifurRahmanMohsin . We'll take a quick peek and close it out if there;s nothing acitonable.

[2020-05-18 23:23] yuchenshi commented on #1569
Would you mind contacting Firebase Support? As you have mentioned, rolling back the build, etc. don't help, so I doubt there is anything on the SDK side. Instead, the Firebase Support is the best channel for these issues -- you can tell them the exact project IDs, device IPs, etc., and they have access to your project and can help to check if there were any known issues, outages or rate limits.

[2020-05-18 23:24] #1569 closed

[2020-05-18 23:26] yuchenshi commented on #1569
@ashwinraghav Thanks for looping me in. If you don't mind, please add the `api: auth` tag next time for visibility.

[2020-05-18 23:26] ashwinraghav commented on #1523
Thanks for the report.
Does your debug build proguard the app. I would imagine not?
Are you able to simply avoid applying the plugin in your debug builds?
[code]
You would have to pass the param in while building your app. Say:
[code]
@mrwillis21 @mrichards May be worth considering having options to disable uploads for debug builds even if they do proguard. We do this with [firebase performance](h

[2020-05-19 02:15] ramanpreetSinghKhinda commented on #1523
I remember Crashlytics use to support [ext.enableCrashlytics](https://developer.android.com/studio/build/optimize-your-build#disable_crashlytics) flag. Is that not supported any more @mrwillis21 ?

Some Crahslytics References I encountered:
 - [CrashlyticsPlugin](https://github.com/crashlytics/android/blob/6ccaecd6b3732bfb55b980bec1f65372862ee832/gradlePlugins/crashlytics/src/main/groovy/com/crash

[2020-05-19 05:09] cs-googler commented on #1527
Try to call rewind() for each media.Image.getPlanes[i].getBuffer() in your code:

private fun getCardDetails(imageProxy: ImageProxy, rotation: Int) {

    val mediaImage = imageProxy.image

    val planes = mediaImage!!.planes
    if (planes.size >= 3) {
       // Reset buffer position for each plane's buffer.
       for (plane in planes ) {
           plane.getBuffer().rewind()
        }

[2020-05-19 07:19] originx commented on #1560
@ashwinraghav thank you for the detail how it works, I think the workaround would work if only 1 flavor/build type is being built
Sadly our CI runs the builds in parallel (e.g. assemble/bundleRelease) and I think this would cause conflicting issues which file is used (maybe there is a way to do it with gradle-fu by hooking up just before the required task but I do not have enough info on the inner

[2020-05-19 07:23] artour-bakiev commented on #1528
Also have this issue - 33 unique events reported so far.

The stack trace is:
[code]

The dependencies are:
[code]

[2020-05-19 13:57] marius-bardan commented on #1568
seeing this as well. app is crashing in a loop. only workaround is uninstall or clearing data.

[2020-05-19 16:28] vkryachko commented on #361
It is correct that DataTransport uses [JobScheduler](https://developer.android.com/reference/android/app/job/JobScheduler), however unlike in the case of https://github.com/googlearchive/firebase-jobdispatcher-android/issues/94, JobScheduler does not use Play Services to fulfill its job.

I am not sure how using JobScheduler would manifest in the above stacktrace as they seem entirely unrelated.

[2020-05-19 17:16] angelolloqui commented on #361
Not sure if it originates inside or outside the app as a response of the app opening, but it is only triggered when I open the app.

Nothing that I was able to capture. If you have any hint I can try to reproduce and pause somewhere, but I wasn't able to find any other info so far. All I can tell is that the stack trace happens with or without Crashlytics, but when Crashlytics dependency is added

[2020-05-19 17:17] angelolloqui commented on #361
One more thing I just reminded is that the app used to have Crashlytics active through Fabric without any issue. It has been since we moved to Firebase for it that it started crashing.

[2020-05-19 18:18] mrwillis21 commented on #1560
Hi folks - thanks for the report! Wanted to let you all know that this is on our radar for a fix. Not sure yet what the timeline is, but I'll let you know once we have a better idea. :)

[2020-05-19 20:14] hramchandani commented on #1519
Good day. Did you find out how this error affected the user experience? Did it cause the app to crash? Or was it gracefully handled by the SDK and your user could have continued using the app? Thank you.

[2020-05-19 20:44] ramanpreetSinghKhinda commented on #1556
### Initial Understanding
From the stack trace it looks like there was a problem when [ASM](https://asm.ow2.io/) (the library we use for [bytecode instrumentation](https://firebase.google.com/docs/perf-mon/get-started-android#add-perfmon-plugin)) trying to instrument the below class file:

[code]

[MultiPartFormDataContent](https://api.ktor.io/1.1.5/io.ktor.client.request.forms/) is an API for [Kt

[2020-05-19 20:48] quibi-jlk commented on #1528
@ankitaj224 do you have any updates here?

[2020-05-19 21:26] mphill commented on #473
We're seeing a situation where a Pixel 3a, and Galaxy S9 are working, but Galaxy S10e and Galaxy S7 attempt to generate the token immediately upon start.  Same codebase on all 4 devices.

When I hook a debugger up to the S10e, it works - in release it fails - but logging indicates it's trying to generate the token before I set AutoInitEnabled to true.

[2020-05-20 00:36] bbl-hramchandani commented on #1519
Thank you for all the information in this post. It helps in understanding the issue. How does this issue affect the user experience? Does it cause the app to crash? Or is the exception gracefully handled by the SDK and the user can continue using the app?

[2020-05-20 00:38] hramchandani commented on #1519
Thank you for all the information in this post. It helps in understanding the issue. How does this exception affect the user experience? Does it cause the app to crash? Or is the exception gracefully handled by the SDK and the user can continue using the app?

[2020-05-20 01:00] jayshildave1983 opened #1573 "Firebase using deprecated API"
There was a ticket created for the firebase using the install referrer which was recently deprecated by Google.

Based on the ticket it was mentioned it was closed in version 17.2.0.
However, while using firebase analytics version 17.2.1 i still see that the install referrer broadcast is present in my merged manifest.

`        <receiver
            android:name="com.google.android.gms.measurement

[2020-05-20 01:02] jayshildave1983 commented on #1573
Since the manifest was not getting posted correctly. I have added it additionally in the comment.
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.firebase.measurement_impl" >

[2020-05-20 04:07] tonyyhliu commented on #1493
@ahinchman1 Have you been able to figure out what's going on with the `E/CarrierServices: [505] iez.getFile: File not found.: /data/user/0/com.google.android.apps.messaging/files/httpft_pending (No such file or directory)`?

I have this exact same error in my logcat.

[2020-05-20 08:31] JeremyR34 commented on #1519
I don't know if it was gracefully handled by the SDK but I suppose it was not; usually when crashes are logged in the Google Play Console they are real crashes on user devices.

[2020-05-20 12:36] cjohnrajan opened #1574 "Caused by: java.lang.RuntimeException: Stub! at com.google.firebase.perf.internal.zza.onActivityPreCreated(Unknown Source:170)"
* Android Studio version: 3,6,2
  * Firebase Component: (Firebase Performance
  * Component version: 19.0.7

Issue:
App crashes on Launch after integration with firebase performance monitoriing

Logs:

Caused by: java.lang.R2020-05-20 05:27:28.305 22508-22508/com.cat.abc:E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.cat.abc, PID: 22508
    java.lang.RuntimeException: Unable to start act

[2020-05-20 14:14] sunnyjain commented on #1566
@androideveloper I am facing with the exact same issue. this is the only thing I could see it on my logs and nothing on the firebase-crashlytics dashboard.

[2020-05-20 15:29] KonradSzewczuk opened #1575 "Duplicate class com.google.common.util.concurrent.ListenableFuture after BOM update"
### [REQUIRED] Step 2: Describe your environment
  * Android Studio version: **3.6.3**
  * Firebase Component: **Firestore, InAppMessages**
  * Component version: **Firestore: 21.4.3, InAppMessages: 19.0.6**

### [REQUIRED] Step 3: Describe the problem

Bumping the firebase-bom from 24.5.0 -> 25.3.1 to be able to use Firebase Kotlin Extensions ends up in dependencies error

#### Steps to reproduce

[2020-05-20 16:13] Viraj7009 commented on #1092
Thanks @JasonAHeron Looking out for the release. Do we have an approximate release date for 19.0.7?

[2020-05-20 18:20] ramanpreetSinghKhinda commented on #1556
After debugging further I figured out the factors that cause the issue are:

* [Kotlin Multiplatform Project](https://kotlinlang.org/docs/reference/whatsnew12.html#multiplatform-projects-experimental) - Ktor uses this

* [Kotlin Inline Functions](https://kotlinlang.org/docs/reference/inline-functions.html#inline-functions) - Ktor uses this

I have created a ticket with ASM Team for this - https://

[2020-05-20 19:45] JasonAHeron commented on #1092
We are targeting tomorrow but no promises. O(days) though.

[2020-05-20 23:00] Lucodivo commented on #1487
+1 for disabling automatic logging.

In order to protect the user's privacy as much as I can, I want to not track anything I don't need to.

My particular problem is that I explicitly ask users whether they accept me using their data for analytics. And I would like to respect their decision with the exception being that I would record the event of whether they opt-in/out of being tracked, regardle

[2020-05-20 23:46] hramchandani commented on #1519
Hi @andirayo. Good day. Thank you for all the information provided regarding this issue via this post. Do you still foresee the fix for this issue being placed in the May 21 release as indicated above? Thank you in advance.

[2020-05-21 00:28] mt-lubov opened #1578 "SocketTimeoutException after FirebaseInstanceId.getInstance().deleteInstanceId()"
### [REQUIRED] Step 2: Describe your environment

  * Android Studio version: 4.0.0-beta05
  * Firebase Component: Firebase IID (via messaging)
  * Component version:
[code]

Firebase installations resolves to 16.3.0

### [REQUIRED] Step 3: Describe the problem

We have a stable crash after `deleteInstanceId()` during connection issues:
[code]

#### Steps to reproduce:

Calling FirebaseInstanceId.

[2020-05-21 07:58] KonradSzewczuk commented on #1575
I can also confirm that this issue started to happen from firebase-bom version 24.7.1 and continue to happen (last working firebase-bom version was 24.7.0)

[2020-05-21 07:59] NhatPham94 opened #1580 "java.lang.NullPointerException: FirebaseInstanceId.getInstance() return null"
Environment:
  * Android Studio version: 3.6.3
  * Firebase Component: Firebase Cloud Messaging
  * Component version: 20.1.7

### [REQUIRED] Step 3: Describe the problem
I recently got NPE crashes in Crashlytics report cause by FirebaseInstanceId.getInstance():

"Fatal Exception: java.lang.NullPointerException
Attempt to invoke virtual method 'com.google.android.gms.tasks.Task com.google.firebase

[2020-05-21 09:14] MegaMaddin commented on #361
Same issue here, moved to firebase-crashlytics via react-native-firebase/crashlytics and since the update I also see the UNIQ constraint stacktrace during app start. Interestingly, crash reporting still works and crashes show up in Firebase.

[2020-05-21 09:34] pnkshir opened #1581 "Fatal Exception: java.lang.AssertionError: No NameTypeIndex match for SHORT_STANDARD"
Android Studio version: _____3.6
Firebase Component: _____ firebase-messaging
Component version: _____"20.1.0"

We are using firebase for push notifications. We have got this crash for few users repetitively, though we couldn't simulate, this is reported in crashlytics.

Can you please help us fix this. We got it around for 100 users and getting critical for us. OS Android 7, 8

**Logs :**

Fatal

[2020-05-21 11:04] datnt8718 opened #1582 "[Firebase database] Uncaught exception in Firebase Database runloop (19.3.0)"
Dear team, I met this issue in my project and have no idea to fix it. Help me please.

My project has implemented firebase data before (11.8.0) and run normally. I recently add firebase crashlytics sdk (database update to 19.3.0) and get crash when running project with release mode (minifyEnable = true).

My gradle file
[code]

My code

FirebaseDatabase database = FirebaseDatabase.getInstance();

[2020-05-21 11:04] madebyfrancisco commented on #1351
Same issue. It happens quite frequently to me as well.

[2020-05-21 12:33] TOPWN commented on #1348
Same issue，please fix this
![image](https://user-images.githubusercontent.com/23627960/82559286-edce9480-9ba1-11ea-9eb1-9bae53dd18ce.png)
![image](https://user-images.githubusercontent.com/23627960/82559315-fcb54700-9ba1-11ea-9da0-f8763051d543.png)

[2020-05-21 12:38] TOPWN commented on #1348
This issue first happened in version 7.0.3 of my app, in version 7.0.3 I upgraded the version of Android gradle plugin (from 2.3.2 to 3.5.2) . Is there any incompatibility between the firebase SDK and version 3.5.2 of gradle plugin?

[2020-05-21 12:45] heraldovalenti commented on #407
Hello,
hitting the same issue here:
[code]
My environment details:

- Firebase Components:
[code]
- Google Play Services version: 19.8.31 (100400-284611645)
- Google Play Services plug-in: com.google.gms:google-services:4.3.3
- Google Play Store version: 15.0.13-all [0] [PR] 249138589
- Android device: Xiaomi
- Android device Model: Redmi Note 5
- Android OS version: 9 PKQ1.180904.001 (MIUI Global

[2020-05-21 12:50] darrentaft commented on #1199
This issue is now intermittent for me.  We use an Azure pipeline to build the app, so it's a fresh checkout and build every time on a clean environment with the same code. I just ran the pipeline 3 times in a row - first 2 failed with this error, 3rd time lucky.

[2020-05-21 13:51] grebulon opened #1583 "API key that is restricted to specific Android app can be used anywhere to access Google maps API"
### [READ] Step 1: Are you in the right place?
yes

### [REQUIRED] Step 2: Describe your environment

  * Android Studio version: 3.6.1
  * Firebase Component: firebase-messaging
  * Component version: 20.1.7

### [REQUIRED] Step 3: Describe the problem

I'm using a specific api_key (from google-services.json) for messaging. This key is set in the google cloud console (https://console.cloud.google

[2020-05-21 14:39] vkryachko commented on #361
@MegaMaddin does the stacktrace come from your app or some other app(e.g. play services) on the device? Also, do your crash reports contain this `UNIQ constraint stacktrace`?

[2020-05-21 15:06] acuntex commented on #361
In my case it's not a "real crash". App still works, but I can see the same stack trace in the adb logs.

[2020-05-21 15:09] vkryachko commented on #361
@mrwillis21 does crashlytics talk to play services in any way?

[2020-05-21 15:30] allenktv commented on #1487
Thanks @piotrkst, we are actively working on this feature and will have something to report in the near future!

[2020-05-21 17:40] JasonAHeron commented on #1025
Hey, I think as of right now our thinking would be to improve our existing image loader rather than allow for a custom image loader to be provided. We would rather have this SDK just "do the right thing" when it comes to displaying messages.

[2020-05-21 17:40] #1025 closed

[2020-05-21 17:42] JasonAHeron commented on #1277
Hey @patrycjasosnowska we need more info to reproduce this. Please provide reproduction steps.

Thank you

[2020-05-21 17:48] andirayo commented on #1286
Closing this since there was no more update for over 3 weeks.
Please feel free to reopen if this issue persists for you!

[2020-05-21 18:13] JasonAHeron commented on #328
I'm closing this because I don't think this is a FIAM issue. It seems like this is an issue with overlaying on top of the Google maps SDK

[2020-05-21 18:13] #328 closed

[2020-05-21 18:21] mrwillis21 commented on #1357
Hi @triplef - wanted to let you know the Crashlytics Gradle plugin version 2.1.1 has been released which should fix the issue you were seeing. Please do let me know if you run into any other problems!

[2020-05-21 19:07] cs-googler commented on #407
Hi, from your stacktrace, it seems that you are using ocr(text recognition) instead of barcode in your code. For ocr, we don't have an option to bundle the model with you app. (For barcode, you can bundle it to the app by doing what you are doing here-declaring dependency on: com.google.firebase:firebase-ml-vision-barcode-model:20.0.1)

For ocr, the only option is to use optional module download f

[2020-05-21 19:49] triplef commented on #1357
Awesome, I can confirm it is no longer crashing. Thank you!

[2020-05-21 19:49] #1357 closed

[2020-05-21 20:14] davidmotson commented on #1575
Thank you very much for the report!
This is definitely not intended.
Could you send along the dependency tree?

You can get it from your project by running the following command: ./gradlew app:dependencies

(replacing app with the name of your module if needed)

[2020-05-21 20:53] KonradSzewczuk commented on #1575
@davidmotson sure, you can find it below:

[code]

[dependency_tree.txt](https://github.com/firebase/firebase-android-sdk/files/4664689/dependency_tree.txt)

[2020-05-21 20:54] emreakcan opened #1584 "FirebaseCrashlytics doesn't log exceptions in onStartCommand of Service"
### [READ] Step 1: Are you in the right place?
yes

### [REQUIRED] Step 2: Describe your environment

  * Android Studio version: 3.6.3
  * Firebase Component: Crashlytics
  * Component version: 17.0.0

### [REQUIRED] Step 3: Describe the problem

FirebaseCrashlytics doesn't log exceptions in `onStartCommand` of `Service` but it does (displayed in firebase console) in `onCreate` of the `Service`

[2020-05-22 06:47] patrycjasosnowska commented on #1277
Hi,
I checked it again on a few devices and now it seems that everything works fine. Unfortunately I don't remember OS version and device model on which I noticed the issue with no focus. If it happen again I will provide you more details. Thank you for your response.

[2020-05-22 07:12] rajnesh-culturealley opened #1586 "What is tha android firestore sdk get() and set() method timeout and how we can increase this timeout during calling get set method for slow internet connection."
## What feature would you like to see?
Android Firestore read write timeout.
Describe the feature you would like to add, ideally proposing a specific API.

## How would you use it?
We are using to addSnapshotListener but it is not called sometimes when internet connection is slow (may request not completed due to timeout)
Tell us how you'd use this feature in your app.
There is any option to incre

[2020-05-22 08:11] emreakcan commented on #1584
Turns out my service crashes very quick so firebase has no time to log the exception.

[2020-05-22 08:12] #1584 closed

[2020-05-22 08:14] MegaMaddin commented on #361
@vkryachko that's the stacktrace immediately after app start-up:

[code]

And no, the reported stacktrace in Firebase (I used `crashlytics().crash()` just includes the `CrashTest.java` stacktrace.

[2020-05-22 10:51] rameshwebo opened #1587 "Firebase messaging method not found"
### [REQUIRED] Step 2: Describe your environment

  * Android Studio version:3.6.3
  * Firebase Component: Firebase Messaging
  * Component version:20.0.1

### [REQUIRED] Step 3: Describe the problem

I developed flutter based application which has implemented firestore and
found many crash related to Firebase messaging in firebase crashlytics console .
crash report as:

[code]

#### Steps to repr

[2020-05-22 12:36] aanalmehta commented on #916
I am also facing the same issue for Facebook and Skype.
Platform: Android

[2020-05-22 17:15] derrickrc commented on #1258
Firebase support got back to me and in my case, after an initial internet connectivity disconnect occurs with device wifi remaining connected, the correct approach is to simply call `goOffline()` followed by `goOnline()`. I verified this immediately restores connection to the Firebase database, though not sure if it's the same wifi issue others are facing.

[2020-05-22 19:56] heraldovalenti commented on #407
Hey, thanks for your insight! I was able to solve my problem :)

I am using OCR, Face and barcode detection, and thus the dependencies you pointed out, but the only one that was giving me troubles was OCR. It turns out that, despite my Play Store wasn't showing an update for Google Play Services, like you said there were new versions for me to install, so I downloaded and installed manually versio

[2020-05-22 22:46] pangia commented on #361
Same issue here after updating Firebase dependencies. Crashlytics also installed. Also use to be Fabric.  App runs, but this stack trace shows in log at pretty much every navigation in the app. Worried this will cause issues if we release.

[2020-05-23 13:59] JessHolle opened #1588 "Native symbol generation produces OutOfMemoryError"
Generation of native symbols fails with an OutOfMemory error for larger native libraries.

This issue is noted in https://stackoverflow.com/questions/57623793/crashlytics-generate-symbols-gradle-step-fails-gc-overhead-limit-exceeded for Fabric Crashlytics.

The issue is that now everyone is required to migrate to the Firebase Crashlytics SDK, this issue still exists when using the Firebase Crashly

[2020-05-23 14:01] JessHolle commented on #1588
Also filed Firebase case ref:_00D1Ux0Jq._5003p2PC6KI:ref on this prior to discovering this (more appropriate?) venue.

[2020-05-23 14:09] JessHolle commented on #1588
I spent some time trying to find support for this in the code via decompilation of the firebase-crashlytics-buildtools-2.1.1 jar (I couldn't find these sources -- are they available?) -- but as best I could follow there is no support to disable using debug information currently.  Perhaps I misread...

[2020-05-23 15:52] cs-googler commented on #407
Awesome!  Happy to help:)

[2020-05-23 20:52] dannevesdantas commented on #407
Great!!! Thanks so much @cs-googler

The only problem I see is our users will not figure out that they must update their google play services manually in order to be able to use our ml-kit based app. Maybe a workaround for this is checking if the installed google play services version is < 20.12.14 during app launch, and suggest users to update their google play services manually on google play, a

[2020-05-23 20:53] #407 closed

[2020-05-24 07:27] androks commented on #1562
I have faced pretty the same issue

        java.lang.RuntimeException: Internal error in Cloud Firestore (21.4.3).
        at com.google.firebase.firestore.W.c.run(com.google.firebase:firebase-firestore@@21.4.3:5)
        at android.os.Handler.handleCallback(Handler.java:883)
        at android.os.Handler.dispatchMessage(Handler.java:100)
        at android.os.Looper.loop(Looper.java:214)

[2020-05-24 08:25] tomislavhofman commented on #1562
@thebrianchen I am currently in a bit of a rush and I can't really share whole project here. I could perhaps send you the project privately

[2020-05-24 08:38] hamed8080 commented on #1566
I had the same problem with the last version of the android studio and firebase SDK. I reported the problem to the firebase team and they said check problem and respond to me in this week!

[2020-05-25 01:02] #1408 closed

[2020-05-25 04:20] quanlt3 commented on #1264
Firebase Analytics only works for the default Firebase app, It means we can't use custom property, audience in Firebase Remote Config.
I think this feature is very important.

[2020-05-25 14:02] vkryachko commented on #361
@pangia what are your other firebase dependencies besides crashlytics(if any)?

It's interesting that the library in question(`datatransport`) only ever executes upon app crashes to upload crashes to crashlytics(unless you use other firebase products like `In App Messaging`), so unless that is the case, this stacktrace is unlikely related to datatransport at all.

[2020-05-26 04:21] Yang-yongwen opened #1592 "Crashlytics multi process support"
## What feature would you like to see?

I found that Crashlytics only can be init in main process, but we want to collect crash info(java & native ) in other process. Besides, we want to init Crashlytics by self, not init by content provider automatically, because we want to disable Crashlytics in some devices (firebase_crashlytics_collection_enabled flag only disable report and will init normally

[2020-05-26 07:20] amit12297 commented on #1575
Facing the same issue after adding :
`com.google.firebase:firebase-inappmessaging-display-ktx:19.0.7`

Adding this dependency solves the problem, but doesn't look like a good solution:
`implementation 'com.google.guava:listenablefuture:9999.0-empty-to-avoid-conflict-with-guava'`

Related links:
https://stackoverflow.com/questions/56639529/duplicate-class-com-google-common-util-concurrent-listenabl

[2020-05-26 08:17] adrienrx commented on #1567
I've had the same issue today, without connecting any kind of Bluetooth devices.

`android.database.sqlite.SQLiteException: table event_payloads already exists (code 1): , while compiling: CREATE TABLE event_payloads (sequence_num INTEGER NOT NULL, event_id INTEGER NOT NULL, bytes BLOB NOT NULL,FOREIGN KEY (event_id) REFERENCES events(_id) ON DELETE CASCADE,PRIMARY KEY (sequence_num, event_id))

[2020-05-26 08:46] wbervoets commented on #1523
Also received this message when building a debug build with Android Studio 4.0 RC1 (no proguard)

[2020-05-26 10:17] pnkshir opened #1593 "Fatal Exception: java.lang.RuntimeException: Unable to create service , Unable to stop service"
* Android Studio version: _____3.6
  * Firebase Component: _____ :
"com.google.firebase:firebase-messaging:20.1.7”
"com.google.firebase:firebase-core:9.2.0”
 “com.google.firebase:firebase-perf:19.0.7”

We are using above libraries and firebase notifications

We are getting following 2 crashes multiple times as tracked on crshlytics for Android OS 8,9,10.
few of the Devices this is occurring : Sams

[2020-05-26 10:33] aldirenaldigunawan commented on #164
@rostopira  @vitaomds  @suneeshekm ,

as mentioned from @JasonAHeron

from my personal investigation,

you might need to set the FIAM display everytime the Activity resume  where you wants to display

first when the activity went to background, the Fiam Display actually being cleared and when it resume Fiam Display will be re-attached, but with the default Instance from FirebaseInAppMessagingDispl

[2020-05-26 10:46] pnkshir commented on #1451
Hello @ciarand Could you please suggest on this

[2020-05-26 10:49] pnkshir commented on #1428
Hello @ciarand could you please suggest further on this

[2020-05-26 10:54] pnkshir commented on #1429
Hello @ciarand Could you please suggest further on this

[2020-05-26 11:40] pnkshir commented on #1477
Hello, could you suggest for this further

[2020-05-26 11:42] pnkshir commented on #1478
Hello @ciarand could you please suggest further on this

[2020-05-26 12:07] rostopira commented on #1384
Seems like it's the same issues as https://github.com/firebase/firebase-android-sdk/issues/1186 that was closed

[2020-05-26 13:45] mrwillis21 commented on #361
It does not.

[2020-05-26 13:51] pangia commented on #361
Our dependencies:
    implementation 'com.google.firebase:firebase-core:17.4.1'
    implementation 'com.google.firebase:firebase-analytics:17.4.2'
    implementation 'com.google.firebase:firebase-database:19.3.0'
    implementation 'com.google.firebase:firebase-auth:19.3.1'
    implementation 'com.google.firebase:firebase-messaging:20.2.0'
    implementation 'com.google.firebase:firebase-config:19

[2020-05-26 14:05] MegaMaddin commented on #361
Same here, I'm using several other Firebase services via RNFirebase:

[code]

[2020-05-26 16:33] GlebMaltsev commented on #1588
We have external native build, and one of our libraries takes 61-63 MB (depends on ABI) in unstripped state. If I remove only those 60+MB versions of libraries from the folders, everything works as exptected, If I return library back - it seems that task turns into infinite loop (I waited for 30+ minutes and task is still not completed, but CPU and RAM consumption is above 95% during all this time

[2020-05-26 16:45] JessHolle commented on #1588
So with Fabric it seemed that strippedNativeLibsDir didn't need to be specified if it was the default.

I can try specifying that if that is supposed to help -- I'm 99% sure it didn't with Fabric.

[2020-05-26 16:47] ashwinraghav commented on #1593
This article seems to suggest the problem may be related to using [setVibrationPattern](https://proandroiddev.com/oreo-notification-feature-a-critical-issue-that-could-restart-your-android-phone-ca122fa4d9cb), which seems like something that you may be doing inside DPlusFirebaseMessagingService.

The exception documentation says: `The core Android system has died and is going through a runtime res

[2020-05-26 16:51] ashwinraghav commented on #1592
Duplicate of #1545

[2020-05-26 16:51] #1592 closed

[2020-05-26 17:00] ashwinraghav commented on #1587
If I had to guess, you maybe using a combination firebase products other than firebase messaging and firestore, that lead to `firebase-iid` getting pinned to an incompatible version. Could you try bumping all firebase products you are using to the latest versions?

If not, are you able to share the versions of all Firebase products you are using?

[2020-05-26 17:01] katowulf commented on #1258
Current status:
Seems to recover in about 18 minutes (when the OS informs the app the connection is recovered, most likely).

Workaround: Call goOffline() followed by goOnline().

While calling goOffline/goOnline is a reasonable workaround until there's a fix, doesn't feel like clients should have to monitor and manage the connectivity; our SDKs should handle this.

Locking discussion to save eng

[2020-05-26 17:04] ashwinraghav commented on #1586
Duplicate of #565

[2020-05-26 17:04] #1586 closed

[2020-05-26 17:11] ashwinraghav commented on #1583
Thanks for the question. API Key protection can be a bit tricky. It is mostly intended as a mechanism that allows you to protect yourself from programmatic errors and not really a security mechanism. My advice would be to not really obsess over it for API Keys that are used in mobile applications

You could remove `Firebase Cloud Messaging API` since that is intended an API that can be called from

[2020-05-26 17:11] #1583 closed

[2020-05-26 17:13] JasonAHeron commented on #164
Ah yes, that's a different bug that I'm also working on. If you use a customized version of FIAMDisplay we will now use it correctly BUT we will reset to the default display when you change activities. Hopefully I'll have a fix for that coming soon as well

[2020-05-26 17:29] davidmotson commented on #1575
ah, thank you!

There seems to be a conflict with a library fiam is using and androidx.browser. I'll see if they can address that in their next update.

The link you provided includes some stop gap measures which should allow you to repair your build for now (although let me know if they don't work)

[2020-05-26 18:31] pnkshir commented on #1593
@ashwinraghav Thanks for the reply, I am checking basis your reply.
Yes we are getting it only on Android OS 8,9,10. But not using setVibrationPattern.

Also could you please also go through below code snippets and suggest, it would be of much help.

Following is code snippet we are using:
[code]

Following values are passed:

const val DEFAULT_CHANNEL_NAME = "default_channel"
            const va

[2020-05-26 18:35] pnkshir commented on #1593
We are calling above code for creating channel on every app launch. context passed is splash fragments context.

[2020-05-26 18:50] clevertrevor opened #1597 "Various Errors/Exceptions logged with Firebase-Perf"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs in __the code in this repository__.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discus

[2020-05-26 18:54] davidmotson commented on #1575
Update: This has been fixed in https://github.com/firebase/firebase-android-sdk/pull/1596 and should be in the next FIAM release, I'll post back here once that has gone out.

Thanks gain for bringing this to our attention!

[2020-05-26 19:00] JonWatson commented on #1564
Seeing the same problematic behavior, thanks in advance

[2020-05-26 19:05] mrwillis21 commented on #1564
Hi there! Just wanted to let folks know we're aware of this issue and working on getting a fix in for it. :)

Thanks for the report!

[2020-05-26 19:24] pnkshir commented on #361
I am also facing this crash issue:

E/SQLiteDatabase: Error inserting flex_time=3340000 job_id=-1 period=6682000 source=16 requires_charging=0 preferred_network_type=1 target_class=com.google.android.gms.measurement.PackageMeasurementTaskService user_id=0 target_package=com.google.android.gms tag=Measurement.PackageMeasurementTaskService.UPLOAD_TASK_TAG task_type=0 required_idleness_state=0 servic

[2020-05-26 19:25] pnkshir commented on #1593
We are getting this crash logs also every time, but app is not crashing actually . Could you please look into this.

E/SQLiteDatabase: Error inserting flex_time=3340000 job_id=-1 period=6682000 source=16 requires_charging=0 preferred_network_type=1 target_class=com.google.android.gms.measurement.PackageMeasurementTaskService user_id=0 target_package=com.google.android.gms tag=Measurement.PackageMe

[2020-05-26 20:13] visumickey commented on #1528
Another issue similar to this #1494 .

[2020-05-26 20:15] visumickey commented on #1494
At a quick look of it, this issue is very similar to #1528 . Marking this as a duplicate as the other issue is tracking the progress.

[2020-05-26 20:15] #1494 closed

[2020-05-26 20:29] visumickey commented on #1597
Internally tracked at b/157497360.

[2020-05-26 20:30] ankitaj224 commented on #1519
@JeremyR34 Can you please update your app to use the latest version of firebase-messaging:20.2.0 which contains the fix for this issue?

[2020-05-26 21:45] davidmotson commented on #1575
Update: Due to some unforseen conflicts that those changes have with other firebase libraries we are delaying this fix so it can be properly tested. I'll post back here as it progresses. For now, anyone seeing this issue should add

`implementation 'com.google.guava:listenablefuture:9999.0-empty-to-avoid-conflict-with-guava'
`
to their dependencies

[2020-05-26 22:08] welishr commented on #1581
Hi @pnkshir, it looks like the issue is caused from a bug in an underlying library. The newer versions of the SDK remove the calls to the offending code, so upgrading should resolve your issue.

[2020-05-26 22:59] #1531 closed

[2020-05-26 22:59] #1567 closed

[2020-05-26 22:59] #1568 closed

[2020-05-27 01:34] NUmeroAndDev commented on #1298
I used `withGroovyBuilder` to work around.
[code]

[2020-05-27 02:02] moetouban commented on #1559
Any updates on this issue @TKBurner ? it currently prevents us from integrating firebase crashlytics into our app. Is there a workaround for that matter? maybe using an older version for the time being?

[2020-05-27 04:31] pnkshir commented on #1581
Hello @welishr Thanks for you reply..We are using following libs:
"com.google.firebase:firebase-messaging:20.1.7”
"com.google.firebase:firebase-core:9.2.0”
 “com.google.firebase:firebase-perf:19.0.7”

Are you referring to upgrading - com.google.firebase:firebase-messaging:20.2.0 ?

[2020-05-27 05:04] rameshwebo commented on #1587
@ashwinraghav  thanks ! i updated all firebase dependencies to latest version . it seems no crash on latest release of my app  since last 2/3 days

[2020-05-27 05:04] #1587 closed

[2020-05-27 05:39] amit12297 commented on #1575
Okay. Thank you.

[2020-05-27 07:20] personshelldon commented on #1298
Thanks in advance! I'll try it.

[2020-05-27 08:34] grebulon commented on #1583
Thank you for your answer.

Regarding security, you're probably aware that the API key is merged into the string resources of the application by the google-services gradle plugin. If you decompile the .apk file, you will see it in strings.xml as `google_api_key`, together with `google_app_id`:
`<string name="google_api_key" translatable="false">AIzaSyCJFpZPPwW9AxTkS1PHCJqD2DujwerDZcI</string>`

Al

[2020-05-27 09:19] gitton opened #1598 "Getting Repeated llegalStateException: Unable to obtain an upload URL"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs in __the code in this repository__.
If you have a general question, need help debugging, or fall into some
other category using one of these other channels:

  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase disc

[2020-05-27 12:40] JessHolle commented on #1588
Two issues here:

1. Specifying `strippedNativeLibsDir` did not fix the GC limit exceeded OOME
1. It's not immediately clear how to specify this properly when one has build flavors

I tested this with one of my build flavors and thus had:
[code]
Given that this is the default stripped library location, I would hope that the plugin would simply _assume_ this location if not otherwise directed -- as

[2020-05-27 12:51] seal2002 commented on #1588
Hi @JessHolle,
I just want to ask for more information.
What is the size of your SO without stripping?
What is the linker you used to link your SO?
PS: I'm not from Fabric guy, however, I met the issue before so want to ask if I could help.

[2020-05-27 12:51] JessHolle commented on #1588
Leaving `strippedNativeLibsDir` specified as noted above, I edited gradle.properties to set:
[code]
And I have 32GB of RAM, so this shouldn't put an undue burden on the system (though my CI runners have nowhere near this, so this is for testing purposes only).

And then I get a very slightly different error: `Out of memory: Java heap space.`

Also I should note that the ARM8 version of my unstripp

[2020-05-27 12:55] seal2002 commented on #1588
I just go to your question on stackoverflow :D. Only one thing to try, please downgrade the plugin
`classpath 'io.fabric.tools:gradle:1.31.0'` to `1.25.4`. And let me know the result.

[2020-05-27 12:58] JessHolle commented on #1588
I have no Fabric plugin here.  The project in question works fine with the Fabric Crashlytics SDK.  The issue is that it fails with the Firebase Crashlytics SDK, which we have been told we must move to by November.

So instead of a Fabric plugin classpath, I have:
[code]

[2020-05-27 13:06] seal2002 commented on #1588
Oh, I reach the question on stackoverflow and I found that plugins in the question. So apology for it. I will delete this comment later. In my case, I still use the fabric plugins so I found the new version of Fabric is incompatible with `bld` linker. I suggest you should try to switch to gold linker in your cmake
[code]

[2020-05-27 13:07] emreakcan commented on #1588
Having the same issue here.
I've followed this guide https://firebase.google.com/docs/crashlytics/ndk-reports.
(Shouldn't we all using that instead of fabric?)

I'm trying to upload around 150mb, it was working when it is 20mb. Dedicated 10gb to gradle but still no luck. It gives heap error after 12 mins.

[2020-05-27 13:16] JessHolle commented on #1588
As an aside, it is well past the time that external libraries were treated better, i.e. we should generate the crashlytics native symbols for an AAR once, upload those to Maven, and re-use those in all downstream apps.  That may be possible today, but that's certainly not a documented path.

[2020-05-27 13:19] JessHolle commented on #1588
If we need to use a specific linker to get this to work, then this needs to be clearly documented.

As it stands I don't know how to do what you've requested I try/test.  I'm just using the default CMake+NDK21 linker.

[2020-05-27 13:24] seal2002 commented on #1588
@JessHolle inside your app\src\main\CMakeLists.txt, set it
`set(CMAKE_SHARED_LINKER_FLAGS "${CMAKE_SHARED_LINKER_FLAGS} -fuse-ld=gold")`

[2020-05-27 13:24] JessHolle opened #1599 "Document/support AAR-level Crashlytics native symbol generation/upload"
Document and support AAR-level Crashlytics native symbol generation such that this is done as part of the AAR build and re-used by all downstream apps, e.g. by pushing the symbol files to Maven as a separate artifact and pulling these into app builds.

Far better would be to allow AAR-level _upload_ of native symbols and to have Crashlytics build tooling automatically cross-reference this at the a

[2020-05-27 13:32] emreakcan commented on #1588
@seal2002

where should I put it exactly?

[code]

[2020-05-27 13:40] seal2002 commented on #1588
@emreakcan I'm not the Cmake master, just basic. Your cmake seem custom and difference with the one is generated by Android Studio. I suggest you should add the line in the end of file. To ask Cmake use the custom linker

[2020-05-27 13:41] emreakcan commented on #1588
Just did it thank you, got below error but maybe I misplaced, will try again.

[code]

[2020-05-27 16:06] emreakcan commented on #1588
Still same error :(

[2020-05-27 21:23] WillCalderwood commented on #1559
I'm also seeing this stack trace. Android 10, same Firebase version.

[code]

[2020-05-28 00:21] ashwinraghav commented on #1599
Thanks for the suggestion.
IIUC, your feature request is for developers who distribute SDKs. The tooling tooling you suggest would allow these developers to supplement their maven artifacts with accompanying symbol mapping files.
The destination app' s Gradle build would unpack this accompanying symbol file an include it while uploading the app's symbol to crashlytics itself.

If that is a fair su

[2020-05-28 00:41] ashwinraghav commented on #1598
Thanks for the question.
cc @schmidt-sebastian
It seems like we throw this error when there is no network as well.
https://github.com/firebase/firebase-android-sdk/blob/29a1573ac1c6b7765aa6ed95ceafc95ec3b670f0/firebase-storage/src/main/java/com/google/firebase/storage/StorageException.java#L81-L82

I think this is a bit odd and we'll take a look. But hopefully it answers your question.

[2020-05-28 00:41] #1598 closed

[2020-05-28 00:50] radityagumay commented on #665
this caused by performance plugin, I am using `classpath('com.google.firebase:perf-plugin:1.2.1')`. and works after disabling it.

[2020-05-28 01:12] ashwinraghav commented on #1593
I feel like your question is not really specific to Firebase. Stack Overflow may be better suited for general debugging help and may reach a more suitable audience.

[2020-05-28 01:12] #1593 closed

[2020-05-28 01:42] thebrianchen commented on #1562
@androks @tomislavhofman It seems that the underlying issue is that `java.lang.EnumSet` is being removed by proguard. Does making sure that enum fields are not being removed
(stackoverflow [post](https://stackoverflow.com/a/33201546)) resolve the issue for you?

[2020-05-28 03:05] JessHolle commented on #1599
I'm not suggesting this for SDKs but rather for an AAR that is used by multiple APKs/AABs from one vendor, not so much to avoid the OOME but rather so that we could just process the native libraries for each AAR in the build for that AAR.  The Java for each AAR is a different matter -- processing that at the APK/AAB level seems fine by me.  But the AAR doesn't normally contain unstripped .so's and

[2020-05-28 05:25] ashwinraghav commented on #1312
Quoting [error handling dicumentation in the callables](https://firebase.google.com/docs/functions/callable#handle_errors)

_To ensure the client gets useful error details, return errors from a callable by throwing (or returning a Promise rejected with) an instance of functions.https.HttpsError. The error has a code attribute that can be one of the values listed at functions.https.HttpsError. The

[2020-05-28 05:25] #1312 closed

[2020-05-28 05:43] ashwinraghav commented on #1313
Thanks for reporting.
Unfortunately, this is not a use case we can support since dexguard is not part of the [default android toolchain](https://developer.android.com/studio/write/java8-support#migrate) unlike proguard.
Please report back if there are issues with proguard though.

[2020-05-28 05:43] #1313 closed

[2020-05-28 05:47] ashwinraghav commented on #1324
Duplicate of #1410
Fixed in version 19.0.7 of  firebase-inappmessaging-display

[2020-05-28 05:47] #1324 closed

[2020-05-28 07:14] JeremyR34 commented on #1519
I will. I should release a new version in the next few days so I will be able to try the fix.

[2020-05-28 07:33] gitton commented on #1598
Thank you for the response. Using Firebase Realtime Database and Firebase Storage. Realtime database is syncing correctly, Firebase storage is giving this exception while uploading the file

[2020-05-28 08:13] vikey89 commented on #1515
Hello, we have the same issue. We using:
- com.google.firebase:firebase-messaging:20.0.0
- com.google.firebase:firebase-config:19.0.2

the problem occurs randomly only in the production app.

[2020-05-28 08:35] emreakcan commented on #1599
So how can we upload our symbols ? What is the suggested way?
https://stackoverflow.com/questions/62051386/firebase-crashlytics-uploadcrashlyticssymbolfile-outofmemoryerror-java-heap

[2020-05-28 13:43] JessHolle commented on #1599
So there are 2 separate issues as I see it here:

1. The OOME issue that the Firebase Crashlytics SDK has no workaround for -- but the Fabric Crashlytics SDK does.
1. The inconvenience and manageability issue when you have one or more projects that build native libraries, e.g. for distribution within an AAR, for internal use by multiple apps.  In this case, the only reasonable approach I've found

[2020-05-28 15:49] TKBurner commented on #1559
Thanks. Are you doing any cleanup on app shutdown or relaunch that would delete this file? Are you seeing this on all devices?

[2020-05-28 15:52] TKBurner commented on #1566
Thanks. Can you provide your relevant sections from you app and project level build.gradle?

[2020-05-28 15:55] welishr commented on #1581
Thanks! It looks like the code in question was removed in firebase-messaging: 20.1.1, so I would only expect to see this issue for the builds with 20.1.0 or below.

[2020-05-28 15:59] #1483 closed

[2020-05-28 16:03] danasilver commented on #1515
Since the error message "The client had an error while calling the backend!" is the standard error message used in the Remote Config SDK for a client error (ex. a connection timeout, SSL issue, etc) it's hard to pinpoint the exact issue without a full stack trace.

In @CollinsDroid's case, I see `Connection closed by peer` as the cause of the Remote Config error as well as `I/O error during system

[2020-05-28 16:03] #1515 closed

[2020-05-28 16:08] TKBurner commented on #361
I suspect this is related to which version of SQL lite you are importing. Analytics and a few other Firebase tools depend on SQLite to cache data on device prior to batch upload. If you are using an old SQLite version in your app somewhere else this can cause the behavior you are seeing. Can be hard to track down, could be in a submodule.

Moving to triage as this isn't Crashlytics related.

[2020-05-28 16:11] angelolloqui commented on #361
The origin might not be related to crashlytics directly, but it is the fact that crashlytics is added to the project what makes it crash, so there is some wrong handling within the lib. If I get rid of Crashlytics dependency, then the crash disappear.

[2020-05-28 16:37] yogurtearl opened #1601 "Don't call Class.getResourceAsStream in firebase-iid"
### [REQUIRED] Step 2: Describe your environment

  * Firebase Component: com.google.firebase:firebase-iid
  * Component version: 20.1.2

### [REQUIRED] Step 3: Describe the problem

`Class.getResourceAsStream` is very slow on Android, should instead load from Android Resource Manager.

Also, Android API 23 has a race condition with `Class.getResourceAsStream` that causes a `ConcurrentModification

[2020-05-28 17:21] ashwinraghav commented on #187
Thanks for the question and for waiting patiently.

Many Firebase SDKs products provide an overload that allows you to pass in a custom FirebaseApp `getInstance(FirebaseApp)`.

- [Firestore](https://firebase.google.com/docs/reference/android/com/google/firebase/firestore/FirebaseFirestore#getInstance(com.google.firebase.FirebaseApp))
- [Database](https://firebase.google.com/docs/reference/android/

[2020-05-28 17:39] WillCalderwood commented on #1559
I'm doing no cleanup of files on startup or shutdown. I currently only have 1 test device, but the reason I found the problem is because 3 users have emailed me saying they're experiencing crashes and none of those crashes have been reported. I have had 1 crash reported, so it's obviously working on some devices, but the ratio of crash emails to crash reports would suggest it's not working on more

[2020-05-28 17:47] ashwinraghav commented on #66
Copied from https://github.com/firebase/firebase-android-sdk/issues/187#issuecomment-635485459

Thanks for the question and for waiting patiently.

Many Firebase SDKs products provide an overload that allows you to pass in a custom FirebaseApp `getInstance(FirebaseApp)`.

- [Firestore](https://firebase.google.com/docs/reference/android/com/google/firebase/firestore/FirebaseFirestore#getInstance(co

[2020-05-28 17:49] ashwinraghav commented on #187
Closing this as a duplicate of https://github.com/firebase/firebase-android-sdk/issues/66 since there's been a lot more folks jumping in there. Thanks and  please bring forward any API ideas you have.

[2020-05-28 17:49] #187 closed

[2020-05-28 17:49] vkryachko commented on #187
To support the use-case of `prod,staging,dev` app variants, there exists a very suitable mechanism to have different options per app flavor. The `google-services` plugin has this logic built-in, e.g. you can have the following google-services.json files in your app directory:

[code]

[2020-05-28 18:12] mrwillis21 commented on #1559
Hey folks - just wanted to chime in here and thank everyone for reporting this! Definitely seems strange. For those of you seeing it, are you able to reproduce it 100% of the time or does it seem to be transient?

[2020-05-28 18:20] ashwinraghav commented on #1575
Hey @amit12297

The goal of introducing `com.google.guava:listenablefuture:9999.0-empty-to-avoid-conflict-with-guava` was to allow some androidx libraries to take a dependency on listenable future without taking a dependency on the entirety of guava.

This allows you to have both newer versions of guava and the androidX library (in your case browser) in your classpath without any duplicate class f

[2020-05-28 18:20] #1575 closed

[2020-05-28 18:26] WillCalderwood commented on #1559
It's 100% of the time on my device. Pixel 3a. Unfortunately all my still working old devices have been adopted by the kids with Family Link accounts that Google wont let me run debug mode on, so I can't test on another device without inducing a meltdown.

Would having an APK help you? Happy to link to one with a forced crash in.

[2020-05-28 18:36] mrwillis21 commented on #1559
@WillCalderwood appreciate the offer! I think I have a sense of what might be happening here, so any corroborating evidence would be helpful. If you could - please enable debug logging on your device by running `adb shell setprop log.tag.FirebaseCrashlytics VERBOSE`, start up your app, crash it, then grab the logs from logcat. If you're comfortable posting them here, that's fine, or feel free to s

[2020-05-28 20:18] WillCalderwood commented on #1559
@mrwillis21  Sorry for the slow reply. I seem to have a test crash that's appeared on Crashlytics now. I've been trying to work out what's changed/what's going on. That said, I'm still getting the error. [Here are the logcat files.](https://drive.google.com/open?id=15xuk-jxVUYsfFR9GfWHrL3IXl9xsd46W)

One file with everything and one with just Firebase. Do you still want the APK after looking at th

[2020-05-28 20:20] mrwillis21 commented on #1559
@WillCalderwood I'll take a look at those files - thanks! And if you're open to sending across the APK, I'm happy to try it out locally.

[2020-05-28 20:30] ashwinraghav commented on #1601
Thanks for the report. Couple of other cases seem to confirm your observation too: [1](https://blog.nimbledroid.com/2016/04/06/slow-ClassLoader.getResourceAsStream.html), [2](https://github.com/google/libphonenumber/issues/606)

[2020-05-28 20:43] WillCalderwood commented on #1559
@mrwillis21 I've sent a link to an apk via the contact form. Start it up and click "Play" to trigger a crash.

[2020-05-28 21:02] tshegomasilo21 commented on #1559
Hi guys, I'm also having the same issue. Will highly appreciate a solution for that, thanks in advance.

[2020-05-28 21:40] KonradSzewczuk opened #1603 "Trigger FirebaseInAppMessagingClickListener. messageClicked when action is empty"
## What feature would you like to see?
Invoke FirebaseInAppMessagingClickListener.messageClicked for use case when you don't want to trigger browser intent and you are interested only to handle other data (such as key-value map defined in the campaign)

As a user, I don't want to trigger any URL specific browser intent when i click my In App Message popup. I want to trigger below code without any

[2020-05-28 22:07] kevinkokomani commented on #1588
Thanks @emreakcan, @seal2002, and @JessHolle for your discussion and feedback on this error. All the testing and reproduction efforts are super helpful to see.

To clear up something mentioned above in this thread, the new Crashlytics build tools should attempt to find the necessary stripped and unstripped directories as it did in Fabric - if it's unable to resolve on its own we do recommend setti

[2020-05-28 22:15] kevinkokomani commented on #1199
@darrentaft To clarify, the issue you're referring to is the original "Specified path for unstripped native libs is not a directory" issue? If so, I'd be interested to know more about your 3 runs of the pipeline. Is there anything different you observed in the third run that made it work?

If you try to assemble and then upload symbols using manual Gradle tasks as a test, do you get the same error

[2020-05-28 22:27] JasonAHeron commented on #1603
Hey @KonradSzewczuk, this is an interesting feature request. Right now when a user does not provide a valid click action we treat clicks as dismiss and trigger your dismiss callback but I can see how you might want to differentiate between a user actually clicking to dismiss vs clicking on the FIAM.

So what you're imagining is if an action is not set then when a FIAM is clicked we call the develo

[2020-05-28 22:29] ashwinraghav commented on #1603
Thanks for the feature request.
If you are looking for programmatic invocation of remote functions defined in your app, consider using [FirebaseMessaging](https://firebase.google.com/docs/cloud-messaging).
You could [send](https://firebase.google.com/docs/cloud-messaging/http-server-ref) a message to your app from your app's backend or from the Notifications tab in the [Firebase console](https://c

[2020-05-28 22:42] ashwinraghav commented on #1524
Can you share what it changed to?

[2020-05-28 23:05] tad3j commented on #361
I'm also experiencing this issue.
Strangely Android app opened for the first time when I re-built and re-distributed, but it failed on the 2nd open.

Could this be related to `redux-persist` (I feel like its happening during rehydration on 2nd open)?

[2020-05-29 00:43] visumickey commented on #1597
We see two issues here:
1. When applying plugin, many classes show up as "Class not defined". Eg: java.lang.ClassNotFoundException: com.google.ads.interactivemedia.v3.api.AdEvent
2. Index out of bounds exception error.

We are able to reproduce Issue #2 and we have nailed it to be an ASM issue (Both version 7 and version 8). We are following up with ASM on this. Reference: https://gitlab.ow2.org/a

[2020-05-29 03:41] icchi-h commented on #1437
I had the same error(`ExceptionInInitializerError`, `NoClassDefFoundError`) using `FirebaseCrashlytics.getInstance()` in unit test.

You can also wrap the error like this:

[code]
It works in my case.

[2020-05-29 04:07] #1436 closed

[2020-05-29 07:54] stiffy220 opened #1604 "Google Firebase sending a reminder is not accurate"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs in __the code in this repository__.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discus

[2020-05-29 08:40] KonradSzewczuk commented on #1603
@JasonAHeron I can confirm that your description is something that I am looking for.

In addition, my use case is to trigger a InAppMessaging popup and after click on it change the Fragment in my activity without any current activity refresh. To achieve that I think I must not trigger any deeplink related browser intent. The easiest way would be to handle such scenario in the FirebaseInAppMessagin

[2020-05-29 09:09] darrentaft commented on #1199
@kevinkokomani comparing the build runs, one thing I can see is that the build tasks don't appear to run in the same order every time.  These are the tasks executed in the final steps before failure, just after it has finished building the native library. On the build that succeeded:

[code]

Whereas on the build that failed:

[code]
See how the `app:mergeTvSprintReleaseAmazonNativeLibs` step is b

[2020-05-29 13:39] ashwinraghav commented on #1604
Could you add more information about what Firebase  products you are referring to and what your implementation looks like.

[2020-05-29 15:50] ashwinraghav commented on #1562
Closing the issue due to inactivity. Thanks @thebrianchen

[2020-05-29 15:54] ashwinraghav commented on #1512
The recommended approach like @ditn mentioned is to pass an empty string.

[2020-05-29 15:54] #1512 closed

[2020-05-29 15:55] tomislavhofman commented on #1562
It's been less than 48hours and there is an unsolved issue with the library, how is this inactive, what did I miss?

I didn't have time to test out the proposed solution and even then it's patch work. The crash shouldn't happen.

Has there been a pull request that I'm unaware of which adds the proguard rule?

[2020-05-29 15:59] MaxBuster commented on #1559
I was having a similar issue, I think what was happening for me was we were deleting all files in our app's file dir on logout which includes the firebase session file so next time there was a crash it was still looking for that file but couldn't find it.

`05-29 08:54:22.127 20607 20668 D FirebaseCrashlytics: Could not persist event for session 5ED12F87026C0001507F24553B7DC95
05-29 08:54:22.127 2

[2020-05-29 16:03] ashwinraghav commented on #1477
Duplicate of #1478.

[2020-05-29 16:03] #1477 closed

[2020-05-29 16:37] kevinkokomani commented on #1199
Thanks for this info -- it might be worth a shot to run the assemble and the upload separately, at least as a test. We're aware of an issue that occurs where running the `assemble` and the `uploadCrashlytics` commands simultaneously can sometimes cause the upload to fail, or to upload the wrong files (the assemble doesn't finish in time for the upload, so the library's paths haven't been rebuilt y

[2020-05-29 16:42] ashwinraghav commented on #1478
Thanks for the report.
Seems like a problem with the version of [okhttp on android](https://github.com/square/okhttp/issues/3104). This may be hard to systematically fix given that it requires an OS [update](https://android.googlesource.com/platform/external/okhttp/+/master).
Are you able to narrow down specific images in your payload that cause this?

[2020-05-29 16:46] ashwinraghav commented on #1419
Thanks for raising this. Your observations are correct. This requires some ground up redesign of component discovery. The good news is that we are working on a fix. Please let us know if you would like to try the alpha and we'll give you an early release candidate.

[2020-05-29 16:47] ashwinraghav commented on #1399
Closing due to inactivity

[2020-05-29 16:47] #1399 closed

[2020-05-29 17:01] b95505017 commented on #1419
@ashwinraghav LGTM, please let me in. I'm also in the firebase alpha group.

[2020-05-29 17:59] matanshukry commented on #1493
I'm seeing this issue on the emulator as well now, and I'm not receiving messages any more.

I had an old emulator that worked and I had to remove and recreate one.
The new one has the error in logcat and doesn't receive any messages.

I tried sending messages both through the console and through code (and through code I got a response link as well).

I also tried adding the `debuggable true` to b

[2020-05-29 18:08] ashwinraghav commented on #1390
The versions of crashlytics you are using are deprecated for a couple of years now and it may serve you better to go through the [upgrade](https://firebase.google.com/docs/crashlytics/upgrade-sdk?platform=android&hl=ID) process.

[2020-05-29 18:08] #1390 closed

[2020-05-29 20:30] ashwinraghav commented on #1382
Thank you for the report. I've tried repro-ing your issue with version `19.0.7` and I have not been able to. Instance Ids are intended to be immutable through the lifetime of an app installation. The Ids can also be generated offline. Please double check whether you have any unintended invocations of [deleteInstanceId](https://firebase.google.com/docs/reference/android/com/google/firebase/iid/Fire

[2020-05-29 20:35] ashwinraghav commented on #1388
Based on @DaveBoy 's comment, the bug seems to be triggered by a library external to Firebase itself. We are not super familiar with [AndroidUtilCode](https://github.com/Blankj/AndroidUtilCode/issues/1223). Feel free to propose a fix that will make Firebase compatible with the version that's failing for you.

[2020-05-29 20:38] ashwinraghav commented on #1485
Duplicate of #1478

[2020-05-29 20:39] ashwinraghav commented on #1428
Duplicate of #1478

[2020-05-29 20:41] #1428 closed

[2020-05-29 20:44] #1485 closed

[2020-05-29 20:49] #1451 closed

[2020-05-29 20:56] ashwinraghav commented on #1493
The logs seem to indicate that you have analytics enabled. 👍
I don't see a cause for concern. Please let us know if you are seeing a functional issue.

[2020-05-29 21:02] ashwinraghav commented on #1493
If I had to guess, you may be using a version of the emulator that does not have play services. This [SO](https://stackoverflow.com/a/46246782) post has details on how you can determine that.

If you have a hardware Android device, you may be able to validate whether you receive notifications on it to determine if the emulator is the issue.

[2020-05-29 21:33] ashwinraghav commented on #1364
We can help you better if you provide the information that we ask for in the issue template. Let us know if you continue facing issues

[2020-05-29 21:33] #1364 closed

[2020-05-29 21:52] ashwinraghav commented on #1334
Thanks for your patience on the issue.
This has been fixed with the latest release of inappmessaging v 19.0.7

[2020-05-29 21:52] #1334 closed

[2020-05-29 22:29] ashwinraghav commented on #1348
Thanks for your patience. Are you seeing the issue in specific locations and only on Xiaomi MI 8 UD  devices?

[2020-05-29 22:34] #1277 closed

[2020-05-29 22:34] matanshukry commented on #1493
@ashwinraghav I'm sure the emulator is the problem since I have another emulator that is still working (again, an older one).

Regarding play services: I'm aware that I need them, which is why I use an image with `Google Apis`. I admit I'm not sure about the difference between `Google Apis` and `Play Services`, but:

- I need to change /etc/hosts and I need root (which isn't available using `Play

[2020-05-29 22:49] ashwinraghav commented on #1316
Thanks for helping @personshelldon
While I am not entirely certain about third party native libs, Crashlytics certainly does recognize third party libs that your app contains. I'll wait for someone from the crash team to help answer this a bit better

[2020-05-29 23:03] ashwinraghav commented on #1077
We intend to only codify top level product versions in the Bill Of Materials. This should transitively bring in IID. Can you speak more to the use case that forces you to use IID by itself?

[2020-05-29 23:16] ankitaj224 commented on #1325
@lexer Could you please update the firebase-messaging:20.2.0 version and see if the demo app still complaints about Firebase-Installations Strict Mode violation?

[2020-05-29 23:32] ankitaj224 commented on #1325
Also, reason for com.google.firebase:firebase-perf:18.0.0 not resulting in the Strict mode violation is because the latest versions of Firebase SDKs introduced a new dependency: The Firebase Installations SDK (FIS).

Firebase Installations is an infrastructure service (identity provider and authentication scheme) that is used under the hood by many Firebase services (like Analytics). Usually, you

[2020-05-29 23:46] ashwinraghav commented on #1192
Duplicate of #1169

[2020-05-29 23:46] #1192 closed

[2020-05-29 23:59] ashwinraghav commented on #959
Unfortunately this is a [standard](https://www.w3schools.com/tags/ref_urlencode.ASP) that cannot really be changed. Spaces may be replaces with either a (+) or a (%20). Are you able to encode the space in your application logic before creating the link?

[2020-05-30 00:03] ashwinraghav commented on #890
This has an explanation of why it is tricky to implement delete effectively
https://github.com/firebase/firebase-android-sdk/issues/66#issuecomment-635498836

[2020-05-30 00:04] ashwinraghav commented on #665
Closing since https://github.com/firebase/firebase-android-sdk/issues/665#issuecomment-574431015 seems to be the way to go

[2020-05-30 04:05] schmidt-sebastian commented on #1268
@Alimiel Thanks for this request and sorry that we didn't get to this earlier.

This sounds like something we can do. I am however completely overwhelmed with other work items, so please don't hold your breath :) If you are currently blocked on this, it might be best to create a PR. Thank you for your understanding.

[2020-05-31 02:09] eygraber commented on #665
Please reopen. There are multiple comments stating that their project does not use Realm.

[2020-05-31 12:00] hamed8080 commented on #1566
**build.gradle project level**
[code]

**build.gardle app level**
[code]
**AndroidManifest.xml**
[code]
**google-services.json**
[code]

**log file from crashlytics**
[code]

[2020-05-31 12:11] nibarius commented on #959
I'm not sure I agree with that completely. When doing percent encoding for URIs, like the Firebase deep links, spaces should be encoded as `%20`. This is explicitly mentioned in [RFC 3986](https://tools.ietf.org/html/rfc3986#section-2.1) which defines the format of URIs including how data in it should be encoded.

The confusion around this comes from how browsers submits data from forms. Here they

[2020-05-31 14:51] ashwinraghav commented on #959
That sounds about right. Thanks for pushing this. Are there other characters that encode incorrectly as well ? I'm wondering whether the problem is systemic.

[2020-05-31 14:52] ashwinraghav commented on #665
Thanks for pushing this. IIUC the class of errors you are referring to involves reordering the plugin application ?

[2020-05-31 15:13] ashwinraghav commented on #1562
Sry bout that. Mixed this up with a couple of other issues. Well have a fix out soon though

[2020-05-31 15:13] eygraber commented on #665
The fix is to reorder the plugins. It seems like the issue is caused by the presence of the performance plugin.

[2020-05-31 15:25] ashwinraghav commented on #665
Noted. Are there other plugins you are using ?
Can you share relevant sections of your gradle file ?

[2020-05-31 15:29] eygraber commented on #665
This is from the `buildscript` block

[code]

[2020-05-31 15:53] pangia commented on #361
Confirmed that the SQLIte version being used is from API 29. Only get this error on a device, not in emulators. Also, it happens on every transition to a new intent/activity.

The error "**Package unavailable for task: com.google.android.apps.plus/com.firebase.jobdispatcher.GooglePlayReceiver...**" also appears right before the crash. JobDispatcher is deprecated, and not used by anything in our co

[2020-05-31 20:58] nibarius commented on #959
As far as I know space is the only character where this happens. I think the problem comes from mixing  `java.net.URLEncoder.encode()` with `android.net.Uri.decode()`. The [former](https://docs.oracle.com/javase/8/docs/api/java/net/URLEncoder.html#encode-java.lang.String-java.lang.String-) "Translates a string into application/x-www-form-urlencoded format using a specific encoding scheme." while t

[2020-06-01 04:31] davidbilik commented on #1152
Hi, is there any known workaround how to use `protobuf-lite` along with Firebase SDKs? (eg. Remote Config)?

[2020-06-01 06:30] ashwinraghav commented on #1583
Your observations about app attestation are correct.
There is some work  in progress that's going to help the case you are describing.Please let me know if you are interested in trying an alpha out.
Slightly related,  [Android' safety Net API](https://developer.android.com/training/safetynet) can help you authenticate your app to your backend.

[2020-06-01 09:15] WillCalderwood commented on #1559
I've managed to get another device - still Android 10 though. I get the same error.

[2020-06-01 10:18] quiro91 opened #1607 "R8 configuration in Firebase Crashlytics"
## What feature would you like to see?

Looking at the [official guide](https://firebase.google.com/docs/crashlytics/get-deobfuscated-reports?platform=android),  it's recommended to add the following configuration for "faster, obfuscated build with ProGuard".

[code]

Is this required also for R8? If yes, could it be bundled with the SDK?

[2020-06-01 11:47] Mecze commented on #1566
We are seeing this error too.

We are using Crashlytics Version 2.9.9 on several Unity Apps.

On our workflow, all apps have the same structure and dependencies (in fact, are copies of a Template), but **only** two of them are throwing this error, and the Crashlytics dashbord remains empty or outdated since the Fabric.

Logcat says this:

`E Fabric  : Failed to retrieve settings from https://setti

[2020-06-01 11:54] Mecze commented on #361
We are seeing this error too.
Here's our logs:

I tried deleting our SQL dependencies on our projects.
We are using Unity and these are our dependencies:

implementation 'com.android.support:appcompat-v7:25.3.1'
implementation 'com.android.support:cardview-v7:25.3.1'
implementation 'com.android.support:customtabs:25.3.1'
implementation 'com.android.support:support-v4:25.3.1'
implementation 'com.cr

[2020-06-01 13:53] vkryachko commented on #361
The last stacktrace looks related to analytics, @g-charbel any ideas what could be causing this exception?

[2020-06-01 14:24] welishr commented on #1453
Hi @ber4444 - the codepath causing the exception was removed in Instance ID version 20.1.0, so I would not expect to see that issue in any component with that version or above

[2020-06-01 15:20] hamed8080 commented on #1566
i think this might be related to firebase console problem where incorrect path of setting!
or maybe unauthorized access to this path!
maybe!!!

[2020-06-01 15:56] ashwinraghav commented on #1453
Please let us know if that works out

[2020-06-01 15:59] ashwinraghav commented on #1607
Thanks for pointing that out. Seems like we should be able to add these to the SDK

[2020-06-01 17:20] quiro91 commented on #1607
Before adding it, are those actually required? I was testing it before and
it looks like everything works fine without those rules

On Mon, 01 Jun 2020, 16:59 Ashwin Raghav, <notifications@github.com> wrote:

[2020-06-01 17:46] mrwillis21 commented on #1607
Hi @quiro91 - we've had these as part of the Crashlytics SDK docs for a long time, and it's definitely worth asking the question of whether they're still relevant! I'll raise this up to the team and see how we can best clean this up. Thanks!

[2020-06-01 17:50] ashwinraghav commented on #1580
Thanks for reporting. We need some help from you to triage this
1) Full stack trace from Crashlytics
2) Are the crashes happening on specific devices, android versions etc?
3) Please share the dependencies you are using i.e relevant parts of your gradle file or `./gradlew :app:dependencies`.

[2020-06-01 17:56] ashwinraghav commented on #1603
Hey @KonradSzewczuk,
Closed the ticket unintentionally. Sry bout that. Also, I may have misunderstood what you are reporting.
Thanks for clarifying.
@JasonAHeron seems like a change that is non breaking IMO. Seems safe to have this roll out just as a minor version ? Also worth checking what the behavior on iOS is.

[2020-06-02 07:54] jecksonwang commented on #1348
![bug1](https://user-images.githubusercontent.com/30489677/83494656-2e56d800-a4e9-11ea-8645-8b4e9c147953.png)
![BUG2](https://user-images.githubusercontent.com/30489677/83494661-30209b80-a4e9-11ea-9c77-6b78393eebd1.png)
can find in huawei and samsung

[2020-06-02 17:49] ramanpreetSinghKhinda commented on #1556
We have [reverted back](https://gitlab.ow2.org/asm/asm/issues/317904#note_54613) to the ASM Team with the information they requested for further debugging on their side.

Will keep this thread updated.

[2020-06-03 00:09] rafagcamargo commented on #361
I am seeing the reported problem using Emulator, the app doesn't crash but I do see ADB logs. In my case, I have Crashlytics integrated and added Firebase Performance later.
[code]

[2020-06-03 00:22] ankitaj224 commented on #1528
@quibi-jlk Sorry for the delayed response. I have few pending changes and should be able to release fix as part of v16.4.0 of FirebaseInstallations (and FirebaseMessaging v20.2.1) on June 18, 2020.

I ll keep this thread posted on the updates.

[2020-06-03 10:25] ReCursia commented on #1436
@vkryachko, @ashwinraghav, hello, i updated all Firebase dependencies to actual versions (May 21), but they use `firebase-datatransport:17.0.3`. Specifically, `com.google.firebase:firebase-messaging:20.2.0` uses old version of datatransport library. How to use the newest version of datatransport correctly (update firebase libraries or something)? Because now i have to force override version in Gra

[2020-06-03 14:18] mirokolodii commented on #1559
I have similar issue. It's persistent 100% of the cases (Nokia 5, Android 9, AS 4.0), I'm crashing app on startup, so don't delete any files. From logs I can see that Firebase Crashlytics is initializing OK:
[code]

but then right after crash:
[code]

[2020-06-03 14:58] mirokolodii commented on #1559
For now I've rolled back to Fabric Crashlytics and it's reporting fine to Firebase console.

[2020-06-03 15:09] mrwillis21 commented on #1559
@mirokolodii Thanks for the report - is this in your full app or in a test project?

[2020-06-03 15:20] mirokolodii commented on #1559
@mrwillis21 it's a production app, which I've tried to migrate from Fabric Crashlytics to Firebase.

[2020-06-03 18:09] ashwinraghav commented on #890
Just wanted to drop a note that our efforts are generally focussed only on APIs that are publicly documented. The delete API is currently not supported for these sorts of reasons.

I'll leave this open as a feature request though.

https://github.com/firebase/firebase-android-sdk/blob/master/firebase-common/src/main/java/com/google/firebase/FirebaseApp.java#L308-L315

[2020-06-03 18:41] mrwillis21 commented on #1559
Hey everyone, it looks like there are a few different issues here, so I wanted to comment on the one that appears most commonly:

If you're seeing a log entry for `FileNotFoundException` that ends in `/user` -- that is benign. It's an optional file, and if it's missing, you should still get a crash report. Further down in your logs (just below this) you should see logs saying `Sending report to: [

[2020-06-03 18:45] mrwillis21 commented on #1559
@moetouban Can I get a little more information about your app, and the context in which you're seeing this error? Is it a test crash? On startup? As @TKBurner had mentioned, are you clearing any app files at any point in your app lifecycle?

[2020-06-03 18:58] WillCalderwood commented on #1559
@mrwillis21 Yes, exceptions are now being reported, so it wasn't the error in the logcat that was causing the problem, that was a red herring. I stumbled across a base class that was calling setDefaultUncaughtExceptionHandler which I guess might have been messing things up.

[2020-06-03 19:27] mirokolodii commented on #1559
In my case reports are not sent though.

[2020-06-03 19:28] mrwillis21 commented on #1559
@mirokolodii Would you be willing to post your logcat so I could take a look?

[2020-06-03 19:29] mirokolodii commented on #1559
@mrwillis21 sure, I just need to revert back to Firebase lib first.

[2020-06-03 19:33] moetouban commented on #1559
@mrwillis21 Our application has a base module and a library module. I have added the dependency for firebase crashlytics in both modules.  The crash is being triggered manually by me on a button press on login screen. There aren't any files being deleted. The logs are from running the app on emulator Pixel XL.

[code]

[code]

[2020-06-03 20:04] mirokolodii commented on #1559
[code]

[2020-06-03 20:21] derrickrc commented on #361
I also started experiencing the same starting a few weeks ago, app does not crash, but I see the below in Logcat. I updated my firebase dependencies, Performance Monitoring plugin version, and GMS google services plugin to the latest and am still seeing it. I also commented out perf monitoring and no change.

`06-03 11:03:29.653 31959-19192/? E/SQLiteLog: (2067) abort at 36 in [INSERT INTO pending

[2020-06-03 20:29] vkryachko commented on #361
Labeling it at `api:analytics` as it's to most likely cause of the issue, tracked internally in b/144327685.

[2020-06-03 20:29] vkryachko commented on #361
Similar reported issue: https://github.com/firebase/quickstart-unity/issues/676

[2020-06-03 20:37] mirokolodii commented on #1559
For test purposes I've created another Firebase project and enabled the Crashlytics SDK there. Then configured the library in the app. Now reports are comming for crashes, but not when I report throwable manually. I have both ways working in the same setup with Fabric lib.
Here is a log:
[code]

[2020-06-03 21:26] malcolmdeck commented on #1351
Hey folks, Malcolm from Firebase here. Sorry that you're seeing this issue - this looks really, really bizarre. Do you have any context or bugreports for this crash? I've never seen this crash (nor have I been able to reproduce it now).

[2020-06-03 21:42] malcolmdeck commented on #1385
Hey folks, Malcolm from the Firebase team here! This is a result of how API key restrictions work. Because Apple Sign In uses a web-based flow on Android, the web part of the flow doesn't pass the restrictions placed. We're considering a couple of ways that would allow working around this, but that creates some other, more complicated security issues. This is being tracked internally in b/15300723

[2020-06-03 23:55] ashwinraghav commented on #1385
Folks, it seems like the only current fix is to **not** enable Android only restrictions on API keys if you intend using the Apple sign in flow. We realize this is a regression on the security measures you are setting up. Please let us know if you are able to work around the errors by loosening these restrictions.
Fwiw, I've left a few comments on the really limited scope of setting up these restr

[2020-06-04 00:35] nbransby opened #1614 ".info/connected doesn't come back online if app starts offline"
If you start the app without an internet connection the following code:

[code]

[code]
logs this on startup
[code]

But doesn't log true after coming back online.

[2020-06-04 00:45] ashwinraghav commented on #1437
Thanks for the request. Your observations are correct. There's no equivalent API that Firebase has. I do think think you could solve this with dependency injection though, which may lead to better health and testability for your codebase overall.

This is particularly true since the entry points to Firebase APIs are singletons, that can be hard to test without clean dependency injection.

Let us k

[2020-06-04 03:42] ashwinraghav commented on #1614
Please include the versions of your SDKs

[2020-06-04 08:42] MattSkala commented on #1351
Hi, thanks for checking the issue. Unfortunately, I don't have much more context. It happens across all Android versions and a wide range of devices. From our logs, it seems it crashes shortly after the user authenticates with Facebook or Google successfully.

Here is the latest stack trace from auth 19.3.1. Are you able to deobfuscate method calls in the internal part of the SDK?

I can also shar

[2020-06-04 09:01] nbransby commented on #1614
@ashwinraghav added

[2020-06-04 12:27] JessHolle commented on #1599
I'm not clear what additional information you need.  I provided information 7 days ago and got no follow up queries thereafter.  Can you please be explicit about what remaining information you are looking for?

[2020-06-04 14:53] cah-deepak-barad opened #1615 "Veracode issue on Firebase in-app messaging CWE ID 327"
Environment
Android Studio version: 3.6.1
Firebase Component: Messaging, Analytics
Component version: com.google.firebase:firebase-inappmessaging-display-ktx:19.0.6 , com.google.firebase:firebase-installations

Problem Description:
Veracode has found high severity issues in com.google.firebase:firebase-inappmessaging and  com.google.firebase:firebase-installations related to use of a Broken or Ris

[2020-06-04 17:07] ashwinraghav commented on #1614
On Android, Firebase automatically manages connection state to reduce bandwidth and battery usage. When a client has no active listeners, no pending write or onDisconnect operations, and is not explicitly disconnected by the goOffline method, Firebase closes the connection after 60 seconds of inactivity [[Source](https://firebase.google.com/docs/database/android/offline-capabilities#kotlin+ktx_8)]

[2020-06-04 17:07] #1614 closed

[2020-06-04 17:20] 2ZeroSix opened #1616 "Multi-tenancy support"
* Firebase Component: Auth

## What feature would you like to see?

Is there any plans to add multi-tenancy support?
It's available in js client/admin sdk https://cloud.google.com/identity-platform/docs/multi-tenancy-authentication

## How would you use it?

Same as in js client package.

[2020-06-04 17:36] ashwinraghav commented on #1616
Thank you for the feature request. We do have plans to support this soon. I don't have an actual date however. I'll keep the ticket open and post back when we know more!
Thanks!

[2020-06-04 18:09] AndrewBloom commented on #1599
Hi JessHolle, I don't know if you are aware, you can include unstripped version of your libraries on your AAR. check my answer here: https://stackoverflow.com/questions/48829644/how-to-avoid-stripping-native-library-packaged-in-an-aar-for-debug-build-type-on/61654966#61654966
This is what i actually tried to upload native symbols to crashlytics, but without any luck on my end. I had also the compl

[2020-06-04 18:30] ber4444 commented on #1453
Which Firebase BoM version is that?

[2020-06-04 23:05] yogurtearl commented on #1601
@ashwinraghav  did this get fixed? :)

[2020-06-04 23:07] ashwinraghav commented on #1601
Oops I merged the change. But GitHub did its thing. I expect this to be rolled out on June 18 as firebase-messaging":20.2.1.

[2020-06-05 05:47] matanshukry commented on #1493
What? what kind of information is google-oss-bot referring to? I have a phone where the problem exist and is reproducible (on that phone only but still).

I also have logs that says there is no RCS, I just don't know how to find out why.
What more info is needed?

[2020-06-05 06:15] mirokolodii commented on #1559
@mrwillis21 what are your thoughts on this? Are posted logs useful? Right now I've removed the application from Firebase project, which has been migrated from Fabric, as well as migrated API in the app from Fabric to Firebase. So currently have fresh project with Crashlytics SDK enabled. I have two buttons - one crashes the app and another records exceptions. Unfortunately reports are not comming

[2020-06-05 07:13] Belka1000867 opened #1621 "java.lang.IllegalStateException dagger.internal.DoubleCheck.get"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs in __the code in this repository__.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discus

[2020-06-05 10:40] nbransby commented on #1614
thanks for the clarification

[2020-06-05 13:18] sboishtyan opened #1622 "Firebase-crashlytics Gradle plugin: kotlin dsl support"
## What feature would you like to see?

I want to be able to configure `firebase-crashlytics` Gradle plugin in `build.gradle.kts` files

## How would you use it?

It helps me to remove `apply(from = *.gradle)`

[2020-06-05 14:21] philn5d-ar commented on #361
Thank you @vkryachko for following up on this!

[2020-06-05 14:41] rlazo commented on #1621
Hi @Belka1000867 which version of picasso are you using? this bug looks related to https://github.com/square/okhttp/issues/4746

[2020-06-05 14:52] mrwillis21 commented on #1559
If you've got a test project set up that reproduces this issue, and can either publish it here on Github or send it through to https://firebase.google.com/support/troubleshooter/contact, that would be very helpful!

[2020-06-05 15:46] vkryachko commented on #1298
tldr: you need to case buildType to `ExtensionAware` for correct behavior, using the following should fix your issues.

[code]

The problem is that the way kotlin dsl works is by adding an extension method `configure()` to all `ExtensionAware` classes. While `BuildType` is `ExtensionAware` at runtime, it is not declared in its definition, as a result kotlin does not call `configure()` on the build

[2020-06-05 15:48] vkryachko commented on #1622
It is actually supported, to use it try the following in your `build.gradle.kts`

[code]

feel free to re-open if it does not work for you.

[2020-06-05 15:48] #1622 closed

[2020-06-05 16:18] ashwinraghav commented on #1621
Duplicate of https://github.com/firebase/firebase-android-sdk/issues/1397

[2020-06-05 16:18] #1621 closed

[2020-06-05 17:51] personshelldon commented on #1298
@vkryachko no, this not works too. But solution with `withGroovyBuilder` works. I think, the problem is between how KTS and plain Groovy work, but I don't know what exactly.

[2020-06-05 17:58] vkryachko commented on #1298
@personshelldon Interesting, I was able to successfully build with the fix I suggested above.

When you say that it does not work, do you mean you get the same error as in your original post or some thing else?

[2020-06-05 18:19] personshelldon commented on #1298
@vkryachko, sorry, it builds correctly with your fix, but when I try to call `uploadCrashlyticsSymbolFileRelease` for release build, gradle says taht task not found

[2020-06-05 18:33] personshelldon commented on #1298
Also, `configure<CrashlyticsExtension>` it's a syntax that used for plugins that aplied via `apply` call (runtime apply). But kts uses `plugins` block to import plugins and generate synthetic accesors. I think that must work as it meant to be.

[2020-06-05 18:35] vkryachko commented on #1298
iiuc gradle only generates symbols for the `Project` object, not all nested `ExtensionAware` ones. i.e. here's all that gradle generated for my build:
https://gist.github.com/vkryachko/bfb0ae11b19ee81ce5d1d968c89b8333

[2020-06-05 18:43] personshelldon commented on #1298
Hm, I do not know about that, thanks. That means that we can write custom crashlitcs plugin in `project` scope to properly configurate firebase crashlytics. Plugin is only for correct generation of synthetic accessors.

[2020-06-05 19:53] ashwinraghav commented on #361
Extending https://github.com/firebase/firebase-android-sdk/issues/361#issuecomment-628028362
The problem seems a bit systemic and possible unrelated to Firebase itself.

b/158100898
b/146422649

[2020-06-05 20:47] #1298 closed

[2020-06-05 21:29] ashwinraghav commented on #473
@UserSty please share relevant portions of your gradle build and possibly the output of `./gradlew :app:dependencies`

[2020-06-05 21:35] jruvel commented on #66
Sadely @ashwinraghav this doesn't seem to solve the issue. We have struggled with this for almost two years. We have a multi-tenant application with dynamic switching of the firebase project and we got that working but analytics has to all be sent to one place by hardcoding "google_app_id" in values/strings.xml - this is the only thing that somewhat works. I just tried a Content Provider and the c

[2020-06-05 22:12] CompareAndSwap commented on #1565
FWIW, I tried Crashlytics 17.0.1 and the issue still seemed to remain. I looked at 56fc810, but I guess that didn't help because DataTransport is disabled as evidenced by the logcat output "Send via DataTransport disabled."

I'm guessing that at some point the Firebase service is going to switch everyone over to DataTransport and then this will be fixed. Or, there will be a future change to make `

[2020-06-06 02:19] ashwinraghav commented on #66
Duly noted. This feedback is helpful for us to prioritize.

[2020-06-06 05:43] imKarthikMuru commented on #1582
Me also facing this problem..

after change `minifyEnabled false` ,it's working fine.

[2020-06-06 05:47] JeremyR34 commented on #1519
Unfortunately the new version does not completely fix the issue.
I had to rollback versions once again.
I do not have `java.io.IOException: Bad file descriptor` exceptions anymore.

I found 2 different stack traces but issue seems to be always there:
`com.google.firebase.installations.FirebaseInstallations.getPrefsWithGeneratedIdMultiProcessSafe(FirebaseInstallations.java:407)`

[code]

[code]

So

[2020-06-07 18:08] khammami opened #1625 "[Firebase Auth] java.lang.StackOverflowError after trying to link a provider on Android API < 21"
### Describe your environment

  * Android Studio version: 4.0
  * Firebase Component: FirebaseAuth
  * Component version: 19.3.1
  * Android OS: 4.3

### Describe the problem
It looks like an infinite threads created at app startup when I call _FirebaseAuth.getInstance()_ after trying to link a provider like twitter.

it happen only on API level < 21

#### Steps to reproduce:

- Sign in the user

[2020-06-08 02:06] datnt8718 commented on #1582
Dear @imKarthikMuru , by setting minifyEnable = false, you do not use proguard for your project but in my case, I want to proguard and need to set true for minifyEnable. ^^

[2020-06-08 06:54] franvis opened #1626 "Crash in Android 7 and 8 with FirebaseInstallations"
### Step 2: Describe your environment

  * Android Studio version: 4.0.0
  * Firebase Component: Might be any of Firebase performance, config, messaging dynamic links or analytics
  * Component version: Following the order of the last sentence: 19.0.7, 19.1.4, 20.2.0, 19.1.0 and 17.4.2

### Step 3:

Getting a crash in both Android 8 and 7 with the following message in crashlytics:
[code]

#### Ste

[2020-06-08 10:42] sboishtyan commented on #1622
@vkryachko ExtensionAware helped
But I couldn't apply plugin in `plugins` block, so I used legacy `apply` block

[2020-06-08 17:52] ashwinraghav commented on #1626
Thanks for reaching out. I found that this could happen if you set System properties out of band on your Android App. See: https://github.com/simpligility/ksoap2-android/issues/110#issue-231347582

Is that something you are doing?

Also, here's where the error is throw. Let us know if you see something that stands out
https://github.com/firebase/firebase-android-sdk/blob/455e48371ef627b1aa387126f1

[2020-06-08 17:55] ashwinraghav commented on #1625
Thanks for the really clear bug report!
We'll take a look. If you have been able to repro this in a test app that you can share, please link to it to help us!

[2020-06-08 20:40] malcolmdeck commented on #1625
Thanks for reporting this - I think I know what's going on. This is being tracked internally in b/158497521. I'll try to remember to update this thread when I know that a fix is being released.

[2020-06-08 21:03] khammami commented on #1625
I'm able to replicate it with a dummy app on S3 with Android 4.3 https://github.com/khammami/Dummy_Application

[2020-06-08 23:05] soenkegissel commented on #1564
Seeing the same problematic behavior, thanks in advance

[2020-06-09 00:14] ashwinraghav commented on #1566
Thanks for the report folks.
I sense this may be a problem better suited for [support](https://firebase.google.com/support), since it seems to affect a specific set of projects and may require that you share provide info not suitable for sharing publicly on GitHub.
Please file tickets with specific projects/apps that this affects and we'll be able to help you better.

[2020-06-09 00:14] #1566 closed

[2020-06-09 03:21] cah-rajkumar-ramanathan commented on #1615
Hey Hello Wilhuff,(on behalf of @cah-deepak-barad )

Thanks for the timely response so the findings u am posting here
below are the report we got from Vera code

 Medium severity issues

6/28/2019 12:52 PM EDT | OEPlusAndroid-6.1.0-790-prod-release _1_.apk | PlatformRandom.kt: 50 |   | New | None |   |  
-- | -- | -- | -- | -- | -- | -- | --
4 |   | Unlikely |   | 6/28/2019 12:52 PM EDT | OEPlusAn

[2020-06-09 03:23] cah-rajkumar-ramanathan commented on #1615
One more

3 |   | Unlikely | 331  Insufficient Entropy | 6/28/2019 12:52 PM EDT | OEPlusAndroid-6.1.0-790-prod-release _1_.apk | PlatformRandom.kt: 50 | 1 Path | New | None
-- | -- | -- | -- | -- | -- | -- | -- | -- | --

[2020-06-09 03:23] cah-rajkumar-ramanathan commented on #1615
3 |   | Unlikely | 331  Insufficient Entropy | 6/28/2019 12:52 PM EDT | OEPlusAndroid-6.1.0-790-prod-release _1_.apkOEPlusAndroid-6.1.0-790-prod-release _1_.apk | PlatformRandom.kt: 50 | 1 Path | New | None
-- | -- | -- | -- | -- | -- | -- | -- | -- | --

[2020-06-09 03:48] wilhuff commented on #1615
I don't think that really helps. As far as I can tell, this is giving you information about _your_ binary, but that doesn't help us identify which APIs your tool actually thinks are risky. For starters, there is no `PlatformRandom.kt` in any of our sources.

If you can identify what specifically this tool is complaining out in the Firebase sources, we'll happily look at it and potentially address

[2020-06-09 04:24] ankitaj224 commented on #1519
@JeremyR34 Sorry to hear that you are still seeing OverlappingFileLockException. Do you have any  bug reports or crashlytics stack trace for this crash that I can take a look? I haven't been able to reproduce this issue locally.

Have you noticed this in specific Android versions or any other patterns?

[2020-06-09 07:50] JeremyR34 commented on #1519
@ankitaj224 I've put all information in my previous comment (2 stack traces & statistics).

[2020-06-09 07:57] cah-rajkumar-ramanathan commented on #1615
thats quick. will check with veracode team and update.

[2020-06-09 09:06] TOPWN commented on #1388
https://github.com/firebase/firebase-android-sdk/issues/1348#issuecomment-632062876

[2020-06-09 09:51] mirokolodii commented on #1559
@mrwillis21 it's a Play Store application, so can't really share the code. But is it possible that report is sent to wrong endpoint? I mean, the project was connected to two Firebase projects - one created by migrating from Fabric and where Crashlytics are used, another one created as a new one with other Firebase services enabled. I've removed the migrated one, so only one Firebase project exists

[2020-06-09 09:55] mirokolodii commented on #1559
@mrwillis21 is it possible to say from above logs, whether reports are uploaded correctly to the endpoint? If so, I'll then play with the Firebase project configuration, maybe adding SHA1 certificate fingerprint will help.

[2020-06-09 12:37] beli63 opened #1631 "Firebase Analytics begin_checkout Items not send"
### Step 2: Describe your environment

  * Android Studio version: 3.6.3
  * Firebase Component: Analytics
  * Component version: 17.4.3

### Step 3: Describe the problem

Recently, I've implemented **FirebaseAnalytics.Event.BEGIN_CHECKOUT** event. But it seems **FirebaseAnalytics.Param.ITEMS** not be sent to Firebase.

#### Steps to reproduce:

This code is the tutorial code from Firebase.

It se

[2020-06-09 13:21] sallukp opened #1632 "ANR during firebase initialisation"
Our users encounters ANR while initializing firebase. I added the stack trace below

[code]

[2020-06-09 17:06] rlazo commented on #1632
Thanks for reporting. We need some help from you to triage this, could you please add the products and versions you're using?

[2020-06-09 17:24] mwaked opened #1634 "The request is missing the reCaptcha token"
Hello,
I hope all is well,
I use firebase phone authentication and this error message "The request is missing the reCaptcha token" is return in `onVerificationFailed` method only on some Android devices, why this error happened? and how can i fix this error?

**Device Details**
- Device: Huawei
- Android version: Android 10
- Google Mobile Services (GMS) is available

**Android Code**
[code]

[2020-06-09 18:19] ashwinraghav commented on #1631
Thanks for the report folks.
I sense this may be a problem better suited for [support](https://firebase.google.com/support), since it seems to affect a specific set of projects and may require that you share provide info not suitable for sharing publicly on GitHub.
Please file tickets with specific projects/apps that this affects and we'll be able to help you better.

[2020-06-09 18:19] #1631 closed

[2020-06-09 18:22] ashwinraghav commented on #1632
It also seems like your application is proguarded.
We'd be able to map things back to code in the SDK if you provide a de-obfuscated log.

[2020-06-09 18:23] ashwinraghav commented on #1625
Thanks @khammami . Super helpful

[2020-06-09 18:32] ashwinraghav commented on #1388
Duplicate of #1348

[2020-06-09 18:32] #1388 closed

[2020-06-09 18:37] ashwinraghav commented on #521
Unfortunately, there are operational concerns with providing a way to re verify users, since SMS-es tend to be expensive.

[2020-06-09 18:37] #521 closed

[2020-06-09 18:40] ashwinraghav commented on #384
Thanks for your patience on this.
- Are you able to share the versions of Firebase Auth you are using?
- What devices do these occur on?
- Have you upgraded to newer versions of Auth, since the time of this report and seen the errors go away?

[2020-06-09 18:45] ashwinraghav commented on #322
Thanks for your patience. Please feel free to reopen if you have a PR that can help address this.

[2020-06-09 18:45] #322 closed

[2020-06-09 21:38] chliangGoogle commented on #158
Looks like the issue is fixed. Please file a new issue if you experience something different than this.

[2020-06-09 21:38] #158 closed

[2020-06-09 21:39] chliangGoogle commented on #1453
Instance ID version 20.1.0

[2020-06-09 21:39] #1453 closed

[2020-06-10 01:29] ModirGithub commented on #1625
Please fix it and Publish the version has been improved
Thanks

[2020-06-10 02:20] darran-kelinske-fivestars commented on #1437
The issue was waiting for action from your team.

[2020-06-10 02:20] darran-kelinske-fivestars commented on #1437
What additional information do you need?

[2020-06-10 06:58] franvis commented on #1626
@ashwinraghav Thank you for the quick reply! Sadly enough we are not doing anything with the system properties and we cannot see anything that stands out. I can tell you that before this release we updated all our dependencies from firebase (the ones I previously mentioned) and that according to crashlytics there are no logs or keys so it might be that this happens at the very beginning of the app

[2020-06-10 07:45] sallukp commented on #1632
Thank you for the responses.

@rlazo We use the following products
`
    implementation 'com.google.firebase:firebase-core:17.4.0'
    implementation 'com.google.firebase:firebase-analytics:17.4.0'
    // Add the Firebase Crashlytics SDK.
    implementation 'com.google.firebase:firebase-crashlytics:17.0.0'
    implementation 'com.google.firebase:firebase-crashlytics-ndk:17.0.0'
    implementation

[2020-06-10 13:26] younger96 opened #1637 "Native Crash Report Missing in Firebase"
I upload strippedNativeLibs and unstrippedNativeLibs without error.
I don't know if it is successful?
But the report in Firebase show the stack of native is missing.
I hope you can help me figure out what should I do. Thank you !

  // Add the Firebase Crashlytics NDK dependency.
 implementation 'com.google.firebase:firebase-crashlytics-ndk:17.0.1'

![image](https://user-images.githubusercontent.c

[2020-06-11 00:11] NhatPham94 commented on #1580
Sorry for late response.

Devices : itel P33, Samsung Note3, Infinix x572
Android : 5.0, 8.1.0
`com.google.firebase:firebase-messaging:20.1.7`
`com.google.firebase:firebase-installations:16.3.0`
`com.google.firebase:firebase-common:19.3.0`

We have more than 1 apps (>10) with the same source code, but some app doesn't have this issue.

Init in application class : `FirebaseApp.initializeApp(this);`

[2020-06-11 01:01] #1597 closed

[2020-06-11 01:01] #1581 closed

[2020-06-11 01:01] #1524 closed

[2020-06-11 01:06] ramanpreetSinghKhinda commented on #1556
ASM Team have a [PR](https://gitlab.ow2.org/asm/asm/-/merge_requests/290) ready to fix this.

Once they rollout a new version (with this fix integrated), we'll upgrade our ASM dependency to that version and rollout a new version of Firebase Performance Plugin which should fix this issue.

Thanks for your patience :)

[2020-06-11 01:09] visumickey commented on #1597
Here are some updates from the ASM team on the issue. They are currently working on a [PR](https://gitlab.ow2.org/asm/asm/-/merge_requests/290) for this fix an we are expecting that this would land very soon. As soon their fix lands, the IndexOutOfBoundsException should be resolved.

[2020-06-11 03:02] cah-rajkumar-ramanathan commented on #1615
Below are the sources with line number causing

Flaw ID | Comment
-- | --
13 | https://github.com/firebase/firebase-android-sdk/blob/0e93870a9bfd6f0f1603d82dca2e5dfd91425726/firebase-config/src/main/java/com/google/firebase/remoteconfig/internal/ConfigFetchHandler.java#L434
16 | https://github.com/firebase/firebase-android-sdk/blob/443d6e74da404925b15cc0b62963584c537e23ef/firebase-installations/sr

[2020-06-11 03:23] cah-rajkumar-ramanathan commented on #1615
More detailed analysis PDF attaching here. PFA
[veracode-firebase-issues.pdf](https://github.com/firebase/firebase-android-sdk/files/4762402/veracode-firebase-issues.pdf)

[2020-06-11 05:07] sanjayimperoit opened #1640 "Fatal Exception: android.database.sqlite.SQLiteException: table event_payloads already exists"
**implementation 'com.google.firebase:firebase-messaging:20.2.0'
implementation 'com.google.firebase:firebase-crashlytics:17.0.1'
implementation 'com.google.firebase:firebase-analytics:17.4.3'**

Fatal Exception: android.database.sqlite.SQLiteException: table event_payloads already exists (code 1 SQLITE_ERROR[1]): , while compiling: CREATE TABLE event_payloads (sequence_num INTEGER NOT NULL, event

[2020-06-11 05:28] andirayo commented on #1615
I had a brief look at all cases regarding `FirebaseInstallations`. \
All usages seem to be fine and do not pose risks for security or confidentiality. \

To give an example of the raised issues:
[code]
It is correct that data is being transferred out of the application, but this is desired behavior: In order to enable Firebase functionality, Firebase SDKs have to send requests and data to Firebase

[2020-06-11 06:07] cah-rajkumar-ramanathan commented on #1615
@andirayo  There some issue description provided in the PDF i have shared. please have a look at them for the detailed context of the each issues.

[2020-06-11 06:45] JeremyR34 commented on #1519
Ok sure.
Concerning Android versions, same as before: only Android 7 & 8.

**Case 1 (doNetworkCall)**
[code]

**Case 2 (doGetId)**
[code]

[2020-06-11 08:48] rpattabi opened #1641 "[crashlytics ndk] Make crashlytics.h compatible with C"
Firebase Crashlytics now provides `crashlytics.h` to add info to crash reports from C++. However this is not compatible with C.

Making `crashlytics.h` C compatible would help as we can log from critical C code as well.

[2020-06-11 11:42] rd7773 commented on #1559
Facing same issue
`06-11 16:39:34.513 25487 25487 D FirebaseCrashlytics: Crashlytics is handling uncaught exception "java.lang.RuntimeException: Test Exception" from thread main
06-11 16:39:34.518 25487 25733 D FirebaseCrashlytics: Logging Crashlytics event to Firebase
06-11 16:39:34.519 25487 25733 D FirebaseCrashlytics: Background thread awaiting app exception callback from FA...
06-11 16:39:34.

[2020-06-11 14:16] rgipd opened #1642 "Android NDK crashlytics symbols not uploading"
Hello.

  My configuration is:
[code]

  And, for debug and release is the same:
[code]

  After build debug: ```./gradlew app:uploadCrashlyticsSymbolFileDebug```
  After build release: ```./gradlew app:uploadCrashlyticsSymbolFileRelease```

  Info: All the symbols are successfully uploaded. Tested even with signed apk uploaded to Google Play Store.

  **Problem**
  I make some forced crash in NDK

[2020-06-11 14:59] mattrob33 commented on #1350
Any update on if/when this will be open sourced?

[2020-06-11 15:30] kaciula opened #1643 "Firebase Crashlytics uses Dagger 2 while my project uses Dagger 1"
### [REQUIRED] Step 2: Describe your environment

  * Android Studio version: 3.6.3
  * Firebase Component: Firebase Crashlytics
  * Component version: 17.0.1

### [REQUIRED] Step 3: Describe the problem

Adding the dependency for the new Firebase Crashlytics makes my project not build anymore because I am using Dagger1 everywhere in my code and it seems Crashlytics uses Dagger 2.

Seeing that the

[2020-06-11 17:44] mrwillis21 commented on #1559
@mirokolodii It is. As I'd mentioned before, you should see logs saying `Sending report to: [endpoint]` and `Result was: 202`. I looked up one of the reports that appeared in your logs, and it looks like it was processed properly, so I'm actually not sure why things aren't appearing in your dashboard. :(

[2020-06-11 18:08] mrwillis21 commented on #1559
@Manu-Jindal based on your logs, it looks like your reports were uploaded, and you're experiencing the noisy log I'd mentioned earlier: https://github.com/firebase/firebase-android-sdk/issues/1559#issuecomment-638387614

@rd7773 based on your logs, you appear to also be seeing the noisy log: https://github.com/firebase/firebase-android-sdk/issues/1559#issuecomment-638387614, however, it looks like

[2020-06-11 20:50] mrichards commented on #1199
Crashlytics Gradle plugin v2.2.0 will fix both the task ordering issue and the absolute path issue. These two fixes together should make it easier to get symbols uploaded for 3rd party libraries using as described [here](https://firebase.google.com/docs/crashlytics/ndk-reports#upload-external-dependencies).

We'll update this issue when the release goes live within the next couple of weeks.

[2020-06-11 21:52] jaanmurumets-sk commented on #1286
We updated our app to the Firebase SDK -s and hoped it helps but we are seeing same numbers with our newest app.
Top10 devices receiving AUTHENTICATION_FAILED in our app
samsung SM-A405FN
samsung SM-A705FN
samsung SM-A505FN
samsung SM-A105FN
samsung SM-A202F
samsung SM-A530F
samsung SM-G950F
samsung SM-A750FN
samsung SM-J415FN
HUAWEI ATU-L21

[2020-06-11 22:29] ashwinraghav commented on #1643
Thanks for the report. I recognize the challenge of running into this while migrating from Fabric. Unfortunately, dagger 2 is the standard across a variety of Firebase products that are ubiquitous across Android apps - In App Messaging, Crashlytics, Firebase Messaging.

It is a challenge deciding what versions of dependencies Firebase SDKs can have. On the one hand we have to think of what version

[2020-06-11 22:29] #1643 closed

[2020-06-11 22:31] ashwinraghav commented on #1642
Possible duplicate #1599 #1316

[2020-06-11 22:31] #1642 closed

[2020-06-11 22:37] ashwinraghav commented on #1640
This was fixed in crashlytics 17.0.1. I suspect you are providing the dependency versions  your local builds are on. This should not happen in app versions that have upgraded.
If you are able to repro the issue with the version of dependencies you provided, pls let us know the repro steps. We expect that it involves a back and forth of crashlytics version upgrades and downgrades.
Pls see this [PR]

[2020-06-11 22:37] #1640 closed

[2020-06-11 22:51] #1637 closed

[2020-06-11 23:23] rgipd commented on #1316
@ashwinraghav Just for telling a little more about #1642, I'm not using nothing about Fabric.io, just Firebase Crashlytics. Also it's for my own library/NDK code, no 3rd party. I made the NDK source code for this project with kotlin. There are any test or log I can make for help?

Thanks.

[2020-06-11 23:38] ankitaj224 commented on #1519
@JeremyR34 Thanks for the stack traces and identifying the Android versions. It's not obvious to me why we are still seeing the OverlappingException. I am trying to reproduce the issue based on the above information. I will keep this thread posted.

[2020-06-12 00:31] kmandrika commented on #1641
Hi @rpattabi,

Thanks for the feedback! For now, you can try using the initial version of [crashlytics.h](https://github.com/firebase/firebase-android-sdk/blob/8f02834e94f8b24a7cf0f777562cad73c6b9a40f/firebase-crashlytics-ndk/src/main/jni/libcrashlytics/include/crashlytics/external/crashlytics.h), it should still work. Apologies that we don't have a better workaround for you!

[2020-06-12 01:04] #1604 closed

[2020-06-12 01:04] #1478 closed

[2020-06-12 01:04] #1382 closed

[2020-06-12 06:40] mirokolodii commented on #1559
Thanks @mrwillis21. Looks like removing one of the Firebase projects (the one migrated from Fabric, where Crashlytics was originally enabled) did the trick. Reports are coming now to the console, so issue is resolved. Thanks again.

[2020-06-12 07:20] ghostwan commented on #1286
@andirayo @jehadmashhour would it be possible to reopen this issue, we still have it?

[2020-06-12 08:02] TOPWN commented on #1348
`      @Override
    public void unbindService(ServiceConnection conn) {
        try {
            super.unbindService(conn);
        } catch (IllegalArgumentException e) {
            e.printStackTrace();
            // do something, ignore or report...
        }
    }
`

[2020-06-12 08:10] TOPWN commented on #1348
![Uploading image.png…]()

[2020-06-12 08:46] mcaap commented on #1559
Tip: I struggled with this issue when migrating from Fabric Crashlytics to Firebase Crashlytics. Even I could not see my manual Test crash reports in the console.

I believe this is what happens:
Earlier Fabric used to always enable the crash collection every time the app opens and had to be explicitly disabled (CrashlyticsCore..Builder..disabled ) when not collecting crashes (say in Debug mode).

[2020-06-12 14:58] Mohamed-Slimane commented on #1408
implementation 'com.google.firebase:firebase-analytics:17.4.3'

[2020-06-12 15:20] damionx7 opened #1647 "Firebase Crashlytics : Host name may not be empty"
### [REQUIRED] Step 2: Describe your environment

  * Android Studio version: 4.0
  * Firebase Component: firebase-crashlytics
  * Component version: 17.0.1

### [REQUIRED] Step 3: Describe the problem

On building signed apk, i am getting `Host name may not be empty` error

<img width="1262" alt="image" src="https://user-images.githubusercontent.com/6530843/84518044-b6a95a00-aced-11ea-8e20-472592

[2020-06-12 17:09] ashwinraghav commented on #1647
Are you not seeing this when you sign with the debug certificates? What's the significance of the "signed apk" ?

[2020-06-12 17:11] ashwinraghav commented on #1641
Given that this is expected to work, it would help to have more info on whether you see actual failures when you use it in C.

[2020-06-12 17:29] bbl-hramchandani commented on #1519
Hi. I am experiencing the same issue with the following implementations:
    _implementation 'com.google.firebase:firebase-messaging:20.2.0'
    implementation 'com.google.firebase:firebase-analytics:17.4.2'_

The stack trace is
_Fatal Exception: java.nio.channels.OverlappingFileLockException
       at sun.nio.ch.SharedFileLockTable.checkList(FileLockTable.java:255)
       at sun.nio.ch.SharedFile

[2020-06-12 17:30] hramchandani commented on #1519
Hi. I am experiencing the same issue with the following implementations:
_implementation 'com.google.firebase:firebase-messaging:20.2.0'
implementation 'com.google.firebase:firebase-analytics:17.4.2'_

The stack trace is
_Fatal Exception: java.nio.channels.OverlappingFileLockException
at sun.nio.ch.SharedFileLockTable.checkList(FileLockTable.java:255)
at sun.nio.ch.SharedFileLockTable.add(FileLock

[2020-06-12 17:39] vkryachko opened #1650 "Testing github projects"

[2020-06-12 18:21] #1650 closed

[2020-06-12 18:23] James201311 opened #1651 "Support Required/Optional Field"

[2020-06-12 18:23] vkryachko opened #1652 "Encoders API library"
Move non JSON-specific interfaces out of `firebase-encoders-json` into a separate library

[2020-06-12 18:58] vkryachko opened #1654 "Support "inline" decoding"
Add support for decoding inlined types, i.e.:

[code]

[2020-06-12 19:28] ankitaj224 commented on #1519
@hramchandani Thanks for reporting this issue.

@JeremyR34 & @hramchandani
I need some more information. Do you call [FirebaseInstanceID delete](https://firebase.google.com/docs/reference/android/com/google/firebase/iid/FirebaseInstanceId#deleteInstanceId()) method in your apps that are crashing with OverlappingException?

[2020-06-12 19:41] S1GSEGV commented on #1588
I run into this issue and found two walk around.
1: use NDK r18 and Android Gradle plugin 3.4.2. (19 and later NDK will cause java heap issue when generate symbol for arm64-v8a)
2: use most recent NDK r21d and set linker flag -fuse-ld=lld
If use ndkBuild, set APP_LDFLAGS += -fuse-ld=lld in application.mk

Those two works for me to get pass this issue.

[2020-06-12 20:06] bbl-hramchandani commented on #1519
Hi @ankitaj224 I do not call the FirebaseInstanceID delete method. I also do not have Firebase Messaging auto init disabled.

[2020-06-12 20:07] hramchandani commented on #1519
Hi @ankitaj224  I do not call the FirebaseInstanceID delete method. I also do not have Firebase Messaging auto init disabled.

[2020-06-12 21:19] AndrewLauder opened #1656 "FR: Add Download Progress for Android MLKit translation models"
### Feature proposal

* Firebase Component: MLKit/Translate

Add updates to download progress. Right now, it only provides updates at 0.0 (started) and 1.0 (completed). Adding updates would allow developers to build a better user experience.

[2020-06-12 21:23] AndrewLauder opened #1657 "FR: Add Download Size for Android MLKit translation models"
### Feature proposal

* Firebase Component: MLKit/Translate

Add size to MLKit download. Adding size would allow developers to build a better user experience by showing the user how much data will be used.

[2020-06-12 22:27] vkryachko commented on #1654
It's worth noting that the "inline" property can be recursive and needs to be accounted for.

e.g. as per example above the SubPojo itself may have "inline" properties which need to propagate all the way to the encoded/decoded parent `Pojo` object.

[2020-06-12 22:28] vkryachko opened #1659 "Add "OneOf" support"

[2020-06-12 22:39] ashwinraghav commented on #1657
Thanks for reaching out. Is you proposal to have this be programmatically available before a download starts?

[2020-06-13 00:58] rlazo commented on #1152
Hey Folks,

We are in the process of moving out SDKs over to the newer version of the lite runtime. Given the variables involved, we wanted to share an early preview and get the community's help to determine if they work.

Please try these alpha versions ([protolite-m2repository.zip](https://github.com/firebase/firebase-android-sdk/files/4773769/protolite-m2repository.zip)) out and write back to u

[2020-06-13 01:00] damionx7 commented on #1647
Yes , the error only occurs when i build the release apk . There is no such error when i build the debug apk . And the certificates for debug and release apk are same.  The significance of signed apk would be to release the app on google play store.

[2020-06-13 01:06] ashwinraghav commented on #1647
Are you sure you have crashlytics enabled in your debug builds as well ?

[2020-06-13 01:07] damionx7 commented on #1647
Yes

[2020-06-13 05:50] ashwinraghav commented on #1647
Found an SO post that speaks about the same problem. Let us know if that fixes things for you
https://stackoverflow.com/a/59948613

[2020-06-13 06:16] damionx7 commented on #1647
No , this doesn't solve the issue. I am also attaching the debug file of gradle build
`* Exception is:
org.gradle.api.tasks.TaskExecutionException: Execution failed for task ':app:uploadCrashlyticsMappingFileRelease'.
	at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.lambda$executeIfValid$1(ExecuteActionsTaskExecuter.java:205)
	at org.gradle.internal.Try$Failure.ifSuccessfulOr

[2020-06-13 10:12] laitooo opened #1660 "Invalid instruction 'tagetApi' after upgrading to crashlytics 17.0.0"
Iam using Android studio 2.2
compile sdk version 28
minSdkVersion 16
buildToolsVersion 28.0.3

After upgrading to firebase-crashlytics 17.0.0
Thus error started to show :

 [com.google.firebase:firebase-common:19.3.0] Z:\Projects\Android\MangaOnline\app\build\intermediates\exploded-aar\com.google.firebase\firebase-common\19.3.0\AndroidManifest.xml:32:9-36:35: Error: Invalid instruction 'targetApi'

[2020-06-13 13:37] ashwinraghav commented on #1660
I get the impression you are using an old version of the Android SDK. Try upgrading and let us know.

[2020-06-13 13:38] #1660 closed

[2020-06-13 13:52] jkasten2 opened #1661 "Missing Source for firebase-bom"
## What feature would you like to see?
This repo is missing the `firebase-bom` module and having the source code for this would be useful. Even if it is just a config file.

## How would you use it?
It will make it easier to:
* Know which exact modules will be used from the `com.google.firebase` group.
  - Without have to build a Gradle project to find the result
* Debug dependency issues when the

[2020-06-13 13:57] ashwinraghav commented on #1661
Thanks for the request. We'll consider this going forward. For what it's worth, these are the artifacts in the bom. The general idea we have it to ensure all FIrebase versions work at their latest versions. So at any point, the latest BoM is expected to codify the latest versions of these SDKs available at maven.google.com.
[code]

[2020-06-13 19:42] jkasten2 commented on #1661
@ashwinraghav Thanks for super quick reply!
I just discovered [Gradle's BOM feature](https://docs.gradle.org/6.5/userguide/platforms.html#sub:bom_import) after I stumbled upon a project using `firebase-pom`. Super useful feature to ensure compatible versions of modules are used as you noted, glad to see Firebase has this!

When I went through the [Firebase FCM Android setup guide](https://firebase

[2020-06-13 22:27] andirayo commented on #1286
@jehadmashhour:
Do you still experience this issue? \
If not, can you please share with us what fixed the issue for you?

@ghostwan , @jaanmurumets-sk: \
I reopened this issue, but if you are experiencing a different issue than @jehadmashhour I recommend to open a new issue and assign it to me! \
Here are questions that may help us analyze your issue:
* Q1) Can you reproduce the issue locally with

[2020-06-13 22:50] ashwinraghav commented on #1661
Cc @rachelsaunders

[2020-06-13 23:00] ashwinraghav commented on #1647
Thanks for the report. All symptoms point to this being a client misconfiguration.
I sense this may be a problem better suited for [support](https://firebase.google.com/support). Please reach us through those channels to get better help.

[2020-06-13 23:00] #1647 closed

[2020-06-14 07:45] nes123 commented on #1351
This is where it happens:

`

firebase
--
  | .auth()
  | .signInWithCredential(credential)

`

No matter what method - sign in with facebook, phone, email..all end up in the same error. For me it happens just with one android phone OS 4.4.2

`[auth/-] An internal error has occurred. [ <!DOCTYPE html>
<html lang=en>
  <meta charset=utf-8>
  <meta name=viewport content="initial-scale=1, minimum-sca

[2020-06-14 10:27] jehadmashhour opened #1662 "java.lang.IllegalArgumentException: Service not registered: com.google.android.gms.measurement.internal.zzji@dbed45a"
I have the following exception when FirebaseAnalytics.logEvent executes :

[code]

    implementation 'com.google.android.gms:play-services-base:17.3.0'
    implementation 'com.google.android.gms:play-services-basement:17.3.0'
    implementation "com.google.android.gms:play-services-vision:20.1.0"
    implementation "com.google.android.gms:play-services-places:17.0.0"
    implementation "com.googl

[2020-06-14 10:40] danielesegato opened #1663 "[Feature Request] FCM build notification when app is in foreground"
## What feature would you like to see?
With FCM when the app is in background the OS create a notification that has the image, icon and everything...

but to build a notification that looks the same when the app is in foreground you shouldn't be having to do it manually, I think we should have a method that receive the Notification object and provides the Notification Builder already filled with e

[2020-06-14 15:00] mtrezza commented on #1286
I can confirm that the issue was a key restriction that did not include the `Firebase Installations API`.

The solution was to add the add the API to the restricted APIs as described [here](https://github.com/firebase/firebase-android-sdk/blob/master/firebase-installations/API_KEY_RESTRICTIONS.md#what-do-i-need-to-do).

[2020-06-15 05:13] Prichman commented on #1626
We have the same crashes in our project after update to the last Firebase versions.
firebase-analytics 17.3.0 -> 17.4.3
firebase-crashlytics 17.0.0-beta03 -> 17.0.1

Stacktrace 1:
[code]

Devices 1:
Android 6.X, 7.X, 8.0

Stacktrace 2:
[code]

Devices 2:
Only Android 8.0

Stacktrace 3:
[code]

Devices 3:
Android 5.X, 6.X

Stacktrace 4:
[code]

Devices 4:
Only Android 9

[2020-06-15 06:42] AndrewLauder commented on #1657
Yes, so we can display to the user the size of the download.

[2020-06-15 06:50] JeremyR34 commented on #1519
I do not call FirebaseInstanceID delete method either.

[2020-06-15 07:18] rohit5ram commented on #1662
I get the same error.
I am using firebase-core 17.4.3 and crashlytics 2.10.1

[2020-06-15 07:50] thecoffeehog opened #1664 "[Firestore] No way to get subcollections (unknown path) from a DocumentReference"
Via https://github.com/FirebaseExtended/flutterfire/issues/2739

**Problem**
It's frustrating to change the architecture of a Firestore DB just because there is no DIRECT way to get a list of subcollections present in a document.

**Proposed Solution**
A method to get names/references of subcollections in the `DocumentReference` Class, just like we have a way to get `CollectionReference` for a kno

[2020-06-15 11:18] doniwinata0309 commented on #1523
Hi @ashwinraghav , i tried to disable crashlytics plugin like perf monitor
if (!project.hasProperty("disable-crash-plugin"))  {
    apply plugin: 'com.google.firebase.firebase-perf'
}
Eventhough i only add dependencies on the build.gradle (no other code reference craslhytics) `implementation 'com.google.firebase:firebase-crashlytics:17.0.1'`
However it return runtime error
[code]

[2020-06-15 12:49] davidbilik commented on #1152
For those of you struggling with making gradle to read the artifacts from that zip - I've extracted the zip to the local maven folder (`~/.m2/repository`) and then define `mavenLocal()` in the list of maven repositories in the root `build.gradle`

Maybe there is easier way but I could not find it :(

[2020-06-15 12:56] davidbilik commented on #1152
I am still having an issue with `well-known-types` dependency. My build crashes on
[code]
I thought that the goal is to get rid of `firebase-well-known-types` dependency as well. But when I exclude this dependency from firebase dependencies the app works which is the progress because with older versions it crashed due to some runtime compatibility problems with missing dynamic methods.

[2020-06-15 13:06] amal commented on #1662
Issue started in `play-services-basement:17.3.0`

[2020-06-15 13:21] ashwinraghav commented on #1152
Thanks for the report.
The goal is not to get rid of that dependency. Unfortunately it is required for different reasons even with this alphabet that we have provided. Can you share the output of `.\gradle :app:dependencies` without the exclusion, so we can understand what problems you are seeing?

[2020-06-15 13:23] ashwinraghav commented on #1152
[code]

[2020-06-15 13:57] davidbilik commented on #1152
It looks like I've left some workaround repackaged dependencies in the class path that caused this conflict, after removing this and clean rebuild app now works correctly 🎉 So great job! Looking forward to stable release :)

[2020-06-15 16:12] Yesferal opened #1666 "Improper Output Neutralization for Logs"
###  Step 2: Describe your environment

  * Android Studio version: 3.6
  * Firebase Component: Analytics
  * Component version: 17.0.1

### Step 3: Describe the problem

#### Steps to reproduce:

Hello Firebase, I use your Android SDK in my application. I test my app in a Vulnerability Assessment Scanner Tools. One of the errors found by the tool is the incorrect use of the Android log in the cla

[2020-06-15 16:25] ashwinraghav commented on #1152
@davidbilik we'd also appreciate your confirmation that the app works as expected after proguarding, if you do proguard your app.

[2020-06-15 16:50] schmidt-sebastian commented on #1664
@thecoffeehog Thanks for taking the time to file this issue!

The Firestore backend supports listing of subcollections via the `ListCollections` RPC. This method, however, is considered a metadata operation and only exposed via our Server SDKs (e.g. https://googleapis.dev/nodejs/firestore/latest/Firestore.html). Listing arbitrary collections via Firebase third-party credentials (the credentials us

[2020-06-15 16:50] #1664 closed

[2020-06-15 18:05] ashwinraghav commented on #1666
Thanks for the really clear description. If I understand correctly, this attack makes it possible for a bad actor to dilute the validity of logs, to remove any footprint they may have left behind. Seems like the most common case is to avoid printing logs that have any form of use input.

In this case, it seems like we are printing the output of the response from a service.
- Do you have thoughts o

[2020-06-15 22:25] ankitaj224 commented on #1519
Thanks for the confirmation. I tried but couldn't reproduce this issue with the latest version of firebase-installations library, I will need some more details pertaining to your app.

1. Does your have multiple processes?
2. Does your app initialize [Firebase using multiple Projects](https://firebase.google.com/docs/projects/multiprojects)?

[2020-06-15 22:28] ankitaj224 commented on #1528
@quibi-jlk : We have some ideas around what might be causing the issue but we couldn't successfully identify the root cause.

Can you please help me with these details pertaining to your app? This will help me narrow down & mimic the app setup running into this issue.

Does your have multiple processes?
Does your app initialize Firebase using multiple Projects?

[2020-06-15 22:33] quibi-jlk commented on #1528
Thanks @ankitaj224. No to both questions, just one process and one firebase project.

[2020-06-15 22:42] ankitaj224 commented on #1528
@quibi-jlk
Thanks for the quick response :)

Did you / other reporters notice any pattern about this issue happening only in specific Android Versions or devices?

[2020-06-15 23:07] quibi-jlk commented on #1528
As far as I can tell, it seems fairly aligned with our overall distribution in terms of manufacturer, os version, etc.

[2020-06-15 23:22] ankitaj224 commented on #1578
@mt-lubov

Thanks for reporting this issue. Firebase Android SDK [released after February 27](https://firebase.google.com/support/release-notes/android#2020-02-27)  introduced a new SDK: Firebase Installations. FirebaseInstanceId SDK also a new dependency on FirebaseInstallations SDK.

Since Feb 27, [`firebaseInstanceId.deleteInstanceId()`](https://firebase.google.com/docs/reference/android/com/go

[2020-06-16 00:12] fangor16 commented on #1528
For mine, got multiple projects.
As for crashes, 51% Android 10, 39% Android 9.
80% in background.

But for my app, the last crash was on 4th June 2020.
My app only has around 40k+ active users.

[2020-06-16 00:31] ankitaj224 commented on #1528
@fangor16 Thanks for the stats. Do you have a bug report for the recent crashes from Google Play that we can take a look at?

[2020-06-16 00:55] wilhuff commented on #1615
These are non-issues.

  * Flaw 13 flags the use of `Random` instead of `SecureRandom`, but this isn't a cryptographic use; we're just randomizing the time interval for retrying after backoff
  * Flaw 16 flags the use of `File.createTempFile` but this is a non-issue on Android
  * Several flaws flag the use of SHA1, but this is done for compatibility reasons and does not handle credentials
  * As

[2020-06-16 00:55] #1615 closed

[2020-06-16 01:03] #1385 closed

[2020-06-16 01:30] akndmr commented on #1647
With the update of AS 4.0, below proxy setting lines recommended to be added in gradle.properties:

`systemProp.http.proxyHost=
systsemProp.http.proxyPort=80
systemProp.https.proxyHost=
systemProp.https.proxyPort=80`

Removing these lines fixed the issue for me.

[2020-06-16 02:51] damionx7 commented on #1647
Thanks, I solved the issue by doing as @akndmr suggested. One thing to note it that you will have to delete these lines from ~/.gradle/gradle.properties in your User directory

[2020-06-16 04:19] rpattabi commented on #1641
@ashwinraghav It is a C++ only header now unlike earlier version. If I use this in C, currently I get the following error as C doesn't have `cstddef`.

[code]

 There will be other errors as C doesn't know about C++'s `namespace`, etc.

[2020-06-16 05:22] doniwinata0309 opened #1669 "Reenable firebase_crashlytics_collection_enabled will send previous crash report"
Suppose i set firebase_crashlytics_collection_enabled = false on debug variant to disable crash report. Then i build release (both debug and release has the same package) where  firebase_crashlytics_collection_enabled = true. When i force crash on release, somehow the crash on debug also uploaded to firebase crashlytics.

1. Is this expected ?
2. How to avoid uploading crash report from debug whil

[2020-06-16 08:05] JeremyR34 commented on #1519
It looks like a tricky bug to reproduce.
To answer your questions:
1. No
2. No

[2020-06-16 09:24] emadPirayesh commented on #1286
![image](https://user-images.githubusercontent.com/25787919/84757093-f071ad80-afd8-11ea-94bc-5cb30b8818bc.png)

[2020-06-16 10:21] virgil85 commented on #1662
Same error here - also using play-services-basement:17.3.0
firebase-core 17.4.3 and firebase-crashlytics 17.0.1

Difference on my side: I already removed all calls to logEvent. But I have a wearable in my system:
com.google.android.gms:play-services-wearable:17.0.0

When I connect the wearable the error disappears (at least until my service is running in background when the display turns off).

[2020-06-16 10:42] mourjan opened #1670 "Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs in __the code in this repository__.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discus

[2020-06-16 10:46] davidbilik commented on #1152
@ashwinraghav I am using proguard and it looks like it works correctly :)

[2020-06-16 14:07] hramchandani commented on #1519
Hi @ankitaj224. My answers are identical to @JeremyR34. My app does not have multiple processes. My app does not initialize Firebase using multiple projects.

[2020-06-16 14:38] rlazo commented on #1152
Thanks for the confirmation @davidbilik !

[2020-06-16 16:00] superturboryan commented on #916
I was able to get it to work for iOS by adding the appropriate metadata to our website's main page's header (used as the dynamic link URL set in Dynamic Links editor) as referenced here https://developers.facebook.com/docs/applinks/metadata-reference/

[2020-06-16 17:06] ghostwan commented on #1286
Hello @andirayo

Unfortunately we can't reproduce this error on our dev devices, some of our client are complaining, and we retrieved error report from their devices.

I replaced sensitive information (if they are) by "..."

[code]

Because we can't reproduce on our side the only information we have (GPDR compliant) is

[code]

I have to see if we can get more information from them.

We didn't get

[2020-06-16 17:08] ashwinraghav commented on #1670
Thanks for letting us know!

[2020-06-16 17:16] andirayo commented on #1286
From @jehadmashhour original post, I conclude that `firebase-instanceid` is unable to successfully create an FCM registration token / IID token which in turn is required by Remote Config to send `fetch` requests.

`firebase-instanceid` seems to be unable to create an FCM registration token due to error `AUTHENTICATION_FAILED`. My initial assumption was that `firebase-installations` was unable to r

[2020-06-16 17:47] ashwinraghav commented on #1669
Unfortunately we don't make a distinction at runtime about what variants caused the crash. Once the flag is enabled, crashes on disk are flushed out to the backend.
In practice, this should cause an issue if your audiences for your debug builds and release builds are different. I understand that you will run into this situation developer devices.

I don't think this is a distinction that we can ma

[2020-06-16 17:47] #1669 closed

[2020-06-16 18:03] ghostwan commented on #1286
@andirayo I was able to retrieve the play services version of one of our client that has the issue, I don't know if it could helps : 201817037

[2020-06-16 20:42] ashwinraghav commented on #1641
Thanks, I may have misunderstood. Thanks for clarifying

[2020-06-16 21:15] alexeyvasilyev commented on #1662
Have the same problem.

    implementation 'com.google.firebase:firebase-analytics:17.4.3'
    implementation 'com.google.firebase:firebase-crashlytics:17.0.1'

[2020-06-16 21:57] heshaShawky commented on #916
What about android? it redirects me to google play instead of the URL ( website ) so using metadata not helpful

[2020-06-16 22:48] jordanhbuiltbyhq opened #1671 "How to add correct google-services.json file when using multiple build variants"
Hello! In upgrading from Fabric Crashlytics to Firebase Crashlytics, you need to download your project’s google-services.json and add it inside the module (app-level) directory. But, we distribute our app for two different clients utilizing build variants and product flavors. So each app needs to have a different google-services.json file. How do we do that?

FWIW we were able to do this for iOS b

[2020-06-16 22:53] jordanhbuiltbyhq commented on #1671
Adding them to app/src/{buildVariant} instead worked! Perhaps something that could be noted in the [guide](https://firebase.google.com/docs/crashlytics/upgrade-sdk?platform=android#java).

[2020-06-16 22:53] #1671 closed

[2020-06-17 00:50] andirayo commented on #1580
I removed `firebase-installations` from Labels. \
I don't think that this is related to FIS. \
@ciarand : Please, feel free to reassign to us.!

[2020-06-17 00:52] ankitaj224 commented on #1376
As @wilhuff mentioned in #1615 - there is no action to be taken in firebase-installations. I will be closing this issue. Please feel free to reopen it if required.

Thanks.

[2020-06-17 00:52] #1376 closed

[2020-06-17 00:56] ankitaj224 commented on #1395
@frodonumb Really sorry not responding earlier. Are you still facing the same issue?

[2020-06-17 01:02] ankitaj224 commented on #1540
@grebulon firebase-messaging: 20.2.1 will be released by this week (June 19 2020) that should contain caching fix. Please try releasing the app with the latest version and let me know if it fixes the issue.

Thank you for testing out the fix.

[2020-06-17 01:04] #1325 closed

[2020-06-17 02:44] Nyceane commented on #361
I am seeing this too, any fixes?

[2020-06-17 08:47] tad3j commented on #361
I think I'm having the same issue (using react-native-firebase), strangely it only seem to happen in production/release build, but not on staging. Also, my app opens right after being downloaded from play store (or if I clear app's data), but fails to load if I kill the app in task manager and try to re-open it (works if it's only sent to background and then re-opened).

[2020-06-17 09:58] ghostwan commented on #1286
@andirayo if some client which has a Huawei P40 did install the Google play services manually, could it block Firebase registration ?

[2020-06-17 16:28] schmidt-sebastian commented on #565
Closing this issue, due to inactivity and the hope that it has been addressed by the code in #727. Please file a new issue should this problem persist.

[2020-06-17 16:28] #565 closed

[2020-06-17 17:02] ashwinraghav commented on #1437
@darran-kelinske-fivestars We were hoping to see if the comment above helped you work around the problem https://github.com/firebase/firebase-android-sdk/issues/1437#issuecomment-638533749

[2020-06-17 17:53] Alison-Soldado opened #1675 "fter add dependency in-app messaging cannot find symbol DaggerAppComponent"
### [REQUIRED] Step 2: Describe your environment

  * Android Studio version: 4.0
  * Firebase Component: In-App Messaging
  * Component version: 19.0.7

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

What happened? How can we make the problem occur?
This could be a description, log/console output, etc.

#### Relevant Code:

[code]

[2020-06-17 17:53] Alison-Soldado opened #1676 "after add dependency in-app messaging cannot find symbol DaggerAppComponent"
### [REQUIRED] Step 2: Describe your environment

  * Android Studio version: 4.0
  * Firebase Component: In-App Messaging
  * Component version: 19.0.7

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

What happened? How can we make the problem occur?
This could be a description, log/console output, etc.

#### Relevant Code:

[code]

[2020-06-17 17:53] #1676 closed

[2020-06-17 17:57] #1675 closed

[2020-06-17 18:02] ramanpreetSinghKhinda commented on #665
Assigning to current Fireperf oncallers to take a look.

[2020-06-17 18:09] Alison-Soldado opened #1677 "Firebase In-App Messaging conflits with Dagger | Don't use dagger | Vendor dagger"
### [REQUIRED] Step 2: Describe your environment

  * Android Studio version: 4.0
  * Firebase Component: In-App In-App Messaging
  * Component version: 19.0.7

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

After added the dependency in-app messaging cannot find symbol DaggerAppComponent

#### Relevant Code:

build.gradle(:app)
[code]

build.gradle
[code]

[2020-06-17 19:11] jlennox opened #1678 "`debuggable: false` causes native errors to not be reported on Android 10."
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs in __the code in this repository__.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discus

[2020-06-17 19:43] jhansche commented on #1677
This issue also impacts {{firebase-crashlytics}}, as there are some dependencies that pull in {{com.google.dagger:dagger:2.27}}. So if an app is using a specific version of Dagger, Firebase is causing those versions to conflict (and may force an upgrade compared to the version the app wanted to use):

[code]

Given how widely Firebase is used, it seems to me like this {{datatransport:transport-run

[2020-06-17 21:29] ashwinraghav commented on #1677
Unfortunately, the best we can help with on this front is to point you to ways to work around this situation.

See: https://github.com/firebase/firebase-android-sdk/issues/1643#issuecomment-642963147

[2020-06-17 21:31] ashwinraghav commented on #1677
I can't tell what the 'conflict' you are seeing is. If you are referring to the same problem that @jhansche is referring to, the suggested workarounds are covered here https://github.com/firebase/firebase-android-sdk/issues/1677#issuecomment-645583794.

Please reopen if that's not what you are referring to

[2020-06-17 22:51] yogurtearl opened #1679 "Open source the code for `com.google.firebase:firebase-iid`"
## What feature would you like to see?

Open source the code for `com.google.firebase:firebase-iid`

## How would you use it?

To troubleshoot/debug related problems and better understand the usages in the existing OSS codebase.

[2020-06-17 23:00] jhansche commented on #1677
I don't think this is the right solution. See the linked Dagger comment thread, where Dagger's stance is made more clear (multiple times), that third party libraries should be using a shaded version of Dagger, so that their choices don't collide with anyone else's: https://github.com/google/dagger/pull/950#issuecomment-439026362

[2020-06-17 23:11] ashwinraghav commented on #1679
Unfortunately, this is something that we're not going to be able to do. But, we do plan to have products migrate off of iid and use firebase-installations, which is already open source. There's already a couple of products that have already migrated. You can expect all of Firebase to be off of iid over the next few months!

[2020-06-17 23:11] #1679 closed

[2020-06-17 23:17] jhansche commented on #1677
If I'm understanding correctly, the issue @Alison-Soldado is describing is the same as what I described:

[code]
^ Their app depends on Dagger v2.17, but Firebase's transitive dependencies are causing an unexpected forced version bump during Gradle's dependency version conflict resolution, such that their 2.17 dependency automatically gets bumped to 2.27 out from under them and with no warning. Th

[2020-06-18 00:40] ashwinraghav commented on #1677
Shading is the solution I have suggested as well.

Libraries shading will optimize for consumers that are  on the older versions of dagger, known to be slower, reflection based and officially deprecated. It would lead to customers what are on newer versions having to take on unnecessary footprint.  That's the reason we are leaving the shadowing up to customers.

[2020-06-18 08:38] longld103 opened #1698 "MLkit barcode scanner cannot decode simple 1D code, Example "2""
<img width="251" alt="Screen Shot 2020-06-17 at 10 26 38 AM" src="https://user-images.githubusercontent.com/8160105/84997259-86900a00-b178-11ea-8581-82b93135ab3b.png">

### Environment

  * Android device: Samsung galaxy note10 (N975F)
  * Android OS version: Android 10
  * Google Play Services version: com.google.gms:google-services:4.3.3
  * Firebase/Play Services SDK version: com.google.firebas

[2020-06-18 11:01] belrvn opened #1680 "160002227: Attempt to invoke virtual method 'com.google.firebase.inappmessaging.model.MessageType com.google.firebase.inappmessaging.model.InAppMessage.getMessageType()' on a null object reference"
### [REQUIRED] Step 2: Describe your environment

  * Android Studio version: 3.6
  * Firebase Component: inappMessaging
  * Component version: 19.0.7
### [REQUIRED] Step 3: Describe the problem

Steps to reproduce:
I set up campaign which should show modal triggered by "on_foreground" +  "app_launch" + custom event from Tag Manager. When opening an application, on the main screen the crash happen

[2020-06-18 11:02] Belka1000867 commented on #1680
https://github.com/firebase/firebase-android-sdk/issues/274

[2020-06-18 12:19] next-josemarcosrubio opened #1681 "FirebaseAuth user email storage"
### Describe your environment

  * Android Studio version: 3.6.1
  * Firebase Component: Auth
  * Component version: 19.3.1

### Describe the problem

Using FirebaseAuth component, in order to perform signInWithEmail link operation, we have been reported a security issue due to the email management itself. Email seems to be stored with no encryption provided, and it may be found under 'com.google.

[2020-06-18 15:40] jhansche commented on #1677
I think it's less about our own use of it, and more the fact that this unexpectedly influences the dependency graph of every app that uses it (and Firebase is very popular, so that includes a lot of apps). I agree that updating Dagger is usually painless, but an app can only do that if they know it is a requirement.

What's worse, is Gradle will not complain about this scenario, and the code will

[2020-06-18 15:41] doganov opened #1684 "unstrippedNativeLibsDir property can't accomodate build type and flavor variations together"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs in __the code in this repository__.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discus

[2020-06-18 20:40] edenman opened #1686 "ANRs after updating to Messaging 20.2.0"
### [REQUIRED] Step 2: Describe your environment

  * Android Studio version: 4.2 Canary 2
  * Firebase Components: Messaging, Auth
  * Component version: Messaging 20.2.0, Auth 6.2.0

### [REQUIRED] Step 3: Describe the problem

ANRs reported after updating messaging from 20.1.5 to 20.2.0

#### Steps to reproduce:

Haven't been able to reproduce myself.  Got several ANR reports through Sentry's A

[2020-06-18 20:52] edenman commented on #1686
Nevermind, I wasn't looking closely enough at the app version# on these ANR reports, does not seem related to the Messaging 20.2.0 update.

[2020-06-18 20:52] #1686 closed

[2020-06-18 23:40] ashwinraghav commented on #1601
Fixed in today's release. Thanks for reporting!

[2020-06-18 23:40] #1601 closed

[2020-06-19 01:04] #1493 closed

[2020-06-19 01:04] #473 closed

[2020-06-19 03:11] tcha-tcho commented on #1351
I'm having the same problem with IOS and Web. Even accessing the URLs directly. Something has changed on Firebase these days.

[2020-06-19 03:26] tcha-tcho commented on #1351
Oh, I see. You will have to follow this:
https://cloud.google.com/functions/docs/securing/managing-access-iam#allowing_unauthenticated_function_invocation

[2020-06-19 07:30] PiotrPrus commented on #1603
The feature that we are talking about is a dismissal event. I have checked the documentation for iOS and in the CardActionFiamDisplay there is a messageDismissed listener: https://firebase.google.com/docs/in-app-messaging/modify-message-behavior?platform=ios#implement_a_displaydelegate_to_handle_card_interactions
As far I as understand, the same functionality on android would resolve the issue. Wh

[2020-06-19 07:55] jsilva05 commented on #1556
Hi!
This is only happening for release builds on my end. But, unfortunately, the build fails with that exception.
Is there any configuration that can be done to ignore this step if it fails until there is a new release?

[2020-06-19 14:26] mrichards commented on #1199
Crashlytics Gradle plugin 2.2.0 is now live! Absolute paths should now work as expected.

If you've previously had trouble getting symbols uploaded for 3rd party native libs or non-standard NDK builds, please take a look at the doc linked above and give it another shot. We cleaned up the task configuration for `generateCrashlyticsSymbolFile` & `uploadCrashlyticsSymbolFile`, and added some improved

[2020-06-19 14:26] #1199 closed

[2020-06-19 14:52] kenmorse commented on #1199
@mrichards — Still doesn't seem quite right: with the 2.2.0 plugin, now get "Crashlytics could not find NDK build tasks on which to depend. You many need to manually enforce task dependencies for generateCrashlyticsSymbolFileFlavorAmazonRelease" message.

[2020-06-19 14:56] DrIllness commented on #1478
Hello. I'm facing the same issue.

Stacktrace from developer console:
`java.lang.IllegalArgumentException:
  at com.android.okhttp.okio.RealBufferedSource.read (RealBufferedSource.java:52)
  at com.android.okhttp.internal.http.Http1xStream$ChunkedSource.read (Http1xStream.java:648)
  at com.android.okhttp.internal.Util.skipAll (Util.java:172)
  at com.android.okhttp.internal.Util.discard (Util.jav

[2020-06-19 16:00] ramanpreetSinghKhinda commented on #1556
Hi @jsilva05 ,

Thanks for reaching out~

Can you please attach the full stack trace and all the gradle configurations (i.e all your `build.gradle` files removing any PII information). ASM might throw a similar kind of exception but the root cause could be different so we have to analyze first before providing any mitigation.

If you have a sample app on which you are able to reproduce this issue

[2020-06-19 16:03] jsilva05 commented on #1556
Hi @ramanpreetSinghKhinda !
Thank you very much for your quick reply.
Unfortunately I don't think I can provide you those details. I'll wait for the next release and if the problem still persists I'll try to find a way to share what you asked for.

[2020-06-20 09:18] PetkevichPavel opened #1694 "160996413: Firebase IAM(In-App Messaging) Crash 💣 BUG"
### Basic info:
  * Android Studio version: 4.0
  * Firebase Component: In-App Messaging
  * Component version: 19.0.7

### Describe the problem

We created a new campaign and for some of the users, the application failed during the showing In-App Message.

Here is the crash from crashlytics:
[code]

### Steps to reproduce:

I can give you all devices which were affected, and maybe it can be helpf

[2020-06-20 09:54] Vaisakhk commented on #1528
@ankitaj224 My project  also getting the same crash after the latest update

These are my dependencies

    implementation "com.google.firebase:firebase-core:17.2.3"
    implementation "com.google.firebase:firebase-messaging:20.1.1"
    implementation "com.google.firebase:firebase-perf:19.0.5"
    implementation 'com.google.firebase:firebase-auth:19.3.1'

Stack trace From Crashlytics

<img width="

[2020-06-20 14:33] binbinla commented on #956
@TOPWN We solved it by code instrumentation temporally, there is no official reply so I'm not sure if new version of firebase sdk had fixed the bug or not.

[2020-06-20 17:19] mtrezza opened #1695 "FirebaseInstallations: IndexOutOfBoundsException crash"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs in __the code in this repository__.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discus

[2020-06-21 04:42] rpattabi opened #1696 "RuntimeException: WakeLock under-locked wake:com.google.firebase.messaging"
This bug is closed #1484 but I get the same crash with cloud messaging 20.2.0 (using Firebase BoM 25.4.1)

[code]

Same device, same version as reported in #1484. I couldn't add this info to that issues, as it prevents to add any new comments. So submitting as new issue.

[2020-06-21 09:40] jaanmurumets-sk commented on #1286
Q1) Can you reproduce the issue locally with a fresh install (not an update/upgrade) of your application?
NO
Q2) If yes in (Q1): Please take a look at my [comment on Apr 28][https://github.com//issues/1286#issuecomment-620448506]: Did you make sure that you are using valid Firebase options?
Double checked and also worth mentioning it only affects small number of customers (ca 1500 occurrences in a

[2020-06-21 11:45] rpattabi commented on #1199
@mrichards Even after updating the crashlytics plugin to 2.2.0, I get the same error. It still assumes the given path is relative path. If this was expected to work, how do you differentiate whether the given path is absolute or relative?

[2020-06-21 13:25] vinayare29 commented on #1324
@ashwinraghav I am facing the same problem
my version 19.0.7 of firebase-inappmessaging-display

[2020-06-21 13:51] vedprakashwagh commented on #665
Yeah, I stumbled upon this issue. I literally ran the app once, it worked perfectly, then I ran the app again by changing some layout code and this started happening! Like literally out of nowhere!

[2020-06-21 14:05] vinayare29 commented on #1324
@ashwinraghav I am facing the same problem
my version 19.0.7 of firebase-inappmessaging-display
please me to fix this problem

[2020-06-21 16:39] ashwinraghav commented on #1696
Thanks for raising. cc @ciarand
@rpattabi Are you seeing this with version 20.2.1 as well? I don't see a regression to the original fix at our end. Seems like there could be more than one case where this happens.
Are you able to share your dependencies graph? `./gradlew :ap:dependencies`

[2020-06-22 11:21] rpattabi commented on #1696
@ashwinraghav We'll release the next version of our app with 20.2.1 (or later). Then we'll know if this crash happens for our users. If so I'll update about it here.

Take a look at [this gist](https://gist.github.com/rpattabi/537017a6163ac1c72f11cd2ed809a2ba) for the dependency information, crash stack trace, and device info. This provides dependency graph for firebase in our app. I think this is

[2020-06-22 13:43] otopba commented on #1662
Same issue

[2020-06-22 14:35] vfishv commented on #1199
😠 Crashlytics could not determine stripped/unstripped native library directories for project ':app', variant Release. These are required for generating symbol files when NDK build tasks cannot be automatically inferred. Please specify strippedNativeLibsDir and unstrippedNativeLibsDir in the firebaseCrashlytics extension.

[2020-06-22 15:03] sonusourav opened #1697 "Class com.google.firebase.remoteconfig.ktx.FirebaseConfigKtxRegistrar is not an found."
### Describe your environment

  * Android Studio version: 4.0
  * Firebase Component: Remote Config
  * Component version: 19.1.4

### Describe the problem
The issue is said to be closed by this [PR](https://github.com/firebase/firebase-android-sdk/pull/1209) but I am still facing the issue.

#### Logs

    java.lang.ClassNotFoundException: com.google.firebase.remoteconfig.ktx.FirebaseConfigKtxRe

[2020-06-22 16:10] ankitaj224 commented on #1528
@Vaisakhk Thanks for reporting the issue and providing device/os stats. Do you have any context or bug reports for this crash? Or if you can paste the stack trace of all threads as seen in crashlytics, it would be helpful.

This crash could occur due to multiple reasons. As seen from @quibi-jlk stack trace : firebase_installations threads being stalled due to CPU load, eventually resulting in time

[2020-06-22 16:12] samtstern commented on #1698
@longld103 I have moved this over to the `firebase-android-sdk` repo.  In your other issues you have demonstrated that you do know how to read a barcode successfully using MLKit, which implies that this may be a real bug in the SDK with very small codes.

[2020-06-22 16:14] quibi-jlk commented on #1528
@ankitaj224 given that a majority of these crashes are with the app in the background, I wonder if doze mode has something to do with this. Perhaps some background job isn't grabbing a wake lock during a maintenance window or something?

[2020-06-22 16:54] ashwinraghav commented on #1696
Thanks for sharing that. Another thing we could use your help with is to confirm that these are indeed the versions that are used by the version of your app that is seeing these exceptions.
we've often found that devs migrate their local builds to higher versions, and attribute faults in their prod apps to versions they currently have. So, worth double checking.

[2020-06-22 17:29] yingdai3 commented on #665
@eygraber Can you try to get the dependency tree diff before and after your reorder?

[2020-06-22 18:04] karthikrpandian commented on #1564
We are also struggling with same issue

[2020-06-22 18:06] mrwillis21 commented on #1559
This is correct, because the value is stored once set so that it persists across app launches. I'll take the feedback to the team that we should make sure this is clarified in the documentation. :)

[2020-06-22 18:07] mrwillis21 commented on #1559
Hi folks, wanted to follow up on my previous comment and let you know that the latest release of Crashlytics (version 17.1.0) fixes the issue I mentioned here: https://github.com/firebase/firebase-android-sdk/issues/1559#issuecomment-638387614

Please try it out and let me know what you find. :)

[2020-06-22 18:33] malcolmdeck commented on #1681
Hey there, Malcolm from Firebase here! There's some ambiguity in your post, so I'm going to address a few things in separate paragraphs here to try to cover my bases.

Firstly, the Firebase Auth library does not store the email you provide to that sign-in provider while the operation is in-progress. That is the only relevant security whole that could exist before a sign-in occurs on that provider

[2020-06-22 18:33] #1681 closed

[2020-06-22 18:55] soenkegissel commented on #1564
@mrwillis21 Could you please work in this issue next? Would be so happy.

[2020-06-22 19:01] JasonAHeron commented on #1694
Hey @PetkevichPavel thanks for letting us know,
We've seen issues with the Window Manager before and I've been trying to nail them down as they come up. I'm curious, for your implementation of FIAM are you triggering FIAM and then changing back and fourth between activities? or triggering FIAM and then immediately killing the triggering activity? something like a splash screen maybe?

Are you able

[2020-06-22 20:02] rlazo commented on #1697
Hi @sonusourav Thank you for your report! This issue has been reported and fixed in #1209 A new release is coming in the first week of July with the fix included. Sorry for the delay!

[2020-06-22 20:02] #1697 closed

[2020-06-22 21:10] kevinkokomani commented on #1670
The Crashlytics team is looking at prioritizing this as a feature request, so thanks again for your submission!

[2020-06-22 21:18] ankitaj224 commented on #1528
@quibi-jlk That sounds like a possibility. Thanks for the suggestion 👍 , I ll test my app in Doze and Standby mode to see if I can reproduce this crash. I will keep you posted on how that test goes.

[2020-06-22 21:29] kenmorse opened #1700 "Message: "Crashlytics could not find NDK build tasks on which to depend.""
### Describe your environment

  * Android Studio version: 4.0
  * Firebase Component: Crashlytics, firebase-crashlytics-gradle plugin
  * Component version: 2.2.0

### Describe the problem

The problem with specifying NDK library paths was helpfully fixed as part of issue #1199; however, the new version 2.2.0 of the firebase-crashlytics-gradle plugin now produces this message:

The message does n

[2020-06-23 00:53] yogurtearl opened #1701 "`IidCompatibilityCheckFailure` lint check fails with a null pointer exception (NPE)..."
`IidCompatibilityCheckFailure` lint check fails with a null pointer exception (NPE)...

Using bom `25.4.1` and Iid `20.2.0`

[code]

### [REQUIRED] Step 2: Describe your environment

  * Android gradle plugin 4.0.0
  * Firebase Component: bom `25.4.1` and Iid `20.2.0`

### [REQUIRED] Step 3: Describe the problem

#### Steps to reproduce:

Run `lintRelease`

[2020-06-23 06:40] ikocijan opened #1703 "Disabling auto data collection"
### [READ] Step 1: Are you in the right place?

Issues filed here should be about bugs in __the code in this repository__.
If you have a general question, need help debugging, or fall into some
other category use one of these other channels:

  * For general technical questions, post a question on [StackOverflow](http://stackoverflow.com/)
    with the firebase tag.
  * For general Firebase discus

[2020-06-23 06:40] rpattabi commented on #1696
@ashwinraghav I understand it is easy to get confused about actual version numbers in a complex setup. In this case, I'm pretty sure that this issue results in our production app using firebase cloud messaging 20.2.0 (through Firebase BoM 25.4.1). The dependency tree I shared corresponds to the commit we pushed to production.

As you mentioned, I looked into our app bundle (aab) published to Googl

[2020-06-23 06:47] mirokolodii commented on #1559
@mrwillis21 with the latest Crashlytics version I don't observe `FileNotFoundException` any longer, crash report is sent immediately after app restart.

[2020-06-23 09:51] thedmd commented on #1588
Adding to the pile. I have to deal with 982 MB of binaries with unstripped symbols (1.20 GB before switching to lld), rendering around 60 MB executable after stripping.

Assigning 24GB of RAM does not help. Disabling GC overhead limit `-XX:-UseGCOverheadLimit` does not help.

Tried with `com.google.firebase:firebase-crashlytics-ndk:17.1.0`.

I'm looking forward for fix to the issue. Without symbol

[2020-06-23 12:03] PetkevichPavel commented on #1694
Hi @JasonAHeron , thanks for your quick reply. Unfortunately, but I'm not able to reproduce it locally... Nevertheless, according to the implementation in code, I am only adding few dependencies. But if I understood you correctly, you are talking about triggers IAM, which are based on specific events. In that case, we have predefined following events: **app_launch, screen_view, on_foreground**.

A

[2020-06-23 13:20] bigyanthapa commented on #361
[code]

[2020-06-23 16:47] JasonAHeron commented on #1694
Thanks for the detailed response, so I actually did a lot of work to try to make this splash screen style workflow work invisibly behind the scenes without crashing. Is this coming from app that use our latest SDK version? https://firebase.google.com/support/release-notes/android#inappmessaging_v19-0-7

If this crash is coming from apps that haven't yet updated to a version depending on 19.0.7 the

[2020-06-23 17:16] #1152 closed

[2020-06-23 17:46] ashwinraghav commented on #1677
Fair!

Thanks for raising. I did not realize that this would fail only at runtime. Is there a crash you can share ?

I'll share why this is a problem.
The data transport libraries are used by some of the most widely adopted Firebase libraries: Firebase Messaging and Firebase Crashlytics. Other libs that use it include In App Messaging and a variety of other non Firebase libraries.  Each of these w

[2020-06-23 18:03] kevinkokomani commented on #1700
Thanks for letting us know about this. If you do notice that this causes any issues with your symbol file upload, your build, or the symbolication of your NDK crashes, please update this issue with your findings!

[2020-06-23 18:16] PetkevichPavel commented on #1694
Hi @JasonAHeron, as I mentioned in the first message I am using the latest version of the SDK, thats mean that this crash is already coming from the lates version of the SDK.

[2020-06-23 18:19] JasonAHeron commented on #1694
Absolutely, I saw that, I just know that when you update a dependency in your app and publish it to the app store there can still be months and months of users using older versions of your app. So you're saying the crashes are coming from this version right? not just that your app is currently published from this version?

Are you seeing crashes coming from this version and not prior versions or y

[2020-06-23 18:31] PetkevichPavel commented on #1694
@JasonAHeron I double checked it right now, and yes all crashes coming from the latest build which already using the latest SDK.

[2020-06-23 18:59] JasonAHeron commented on #1694
okay that's really helpful, so this crash just started on the most recent version of the SDK? Did you change the way your app uses activities in this release as well? did your app exist before this release?

I can tell you one work around that will very likely stop your crashes for now as I continue to investigate this.
**Do not trigger fiam from an activity you are about to stop/destroy.**
So if

[2020-06-23 19:09] JessHolle commented on #1588
The r21d/lld workaround seems to work for me!